@model asi.asicentral.model.store.StoreOrder
@{
    var company = Model.Company;
    var baseUrl = Model.RequestUrl != null ? string.Format("{0}://{1}", Model.RequestUrl.Scheme, Model.RequestUrl.Authority) : "";
    var memberStatus = string.IsNullOrEmpty(company.MemberStatus) ? "LEAD" : company.MemberStatus;
    var orderDetail = Model.OrderDetails.ElementAt(0);
    var orderTotal = orderDetail.Cost;
    var constituentId = company.HasExternalReference() ? company.ExternalReference.Split(';')[0] : string.Empty;
    var compAddress = company.Addresses.Count > 0 ? company.Addresses[0].Address : null;
    var address = compAddress != null ? string.Format("{0} {1} {2}, {3} {4}", compAddress.Street1, compAddress.Street2 ?? string.Empty, compAddress.City, compAddress.State, compAddress.Zip)
                                      : string.Empty;
    var currencySymbol = orderDetail.Product.ASICompany.ToLower() == "asi canada" ? "C$" : "$";
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 14px;
            width: 700px;
            margin: 0 auto;
            padding: 20px 10px;
        }

        h2 {
            font-size: 16px;
            color: #58585a;
            margin: 5px 0 0 0;
        }

        td {
            vertical-align: top;
        }

        .red {
            color: #da1c23;
        }

        tfoot {
            margin: 40px 0 40px 0;
            float: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <tr><td>&nbsp;</td></tr>
            <tr><td><h2>Hello, </h2></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>A new membership order was approved.</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><strong>Order Number:</strong>&nbsp;<a href="@baseUrl/Store/Application/Edit/@orderDetail.Id">@Model.Id</a></td></tr>
            <tr><td><strong>Membership Type:</strong>&nbsp;@orderDetail.Product.Type </td></tr>
            <tr><td><strong>Package Type:</strong>&nbsp;@orderDetail.Product.Name</td></tr>
            <tr><td><strong>Order Details:</strong></td></tr>
            <tr><td>&nbsp;&nbsp;- Item Subtotal: @(currencySymbol)@orderDetail.Cost.ToString("F")</td></tr>
            @if (orderDetail.ApplicationCost > 0)
            {
                orderTotal += orderDetail.ApplicationCost;
                <tr><td>&nbsp;&nbsp;- Application Fee: @(currencySymbol)@orderDetail.ApplicationCost.ToString("F")</td></tr>
            }
            @if (orderDetail.TaxCost > 0)
            {
                orderTotal += orderDetail.TaxCost;
                <tr><td>&nbsp;&nbsp;- Tax: @(currencySymbol)@orderDetail.TaxCost.ToString("F")</td></tr>
            }
            @if (orderDetail.ShippingCost > 0)
            {
                orderTotal += orderDetail.ShippingCost;
                <tr><td>&nbsp;&nbsp;- Shipping &amp; Handling: @(currencySymbol)@orderDetail.ShippingCost.ToString("F")</td></tr>
            }
            <tr><td>&nbsp;&nbsp;- Order Total: @(currencySymbol)@orderTotal.ToString("F")</td></tr>
            <tr><td><strong>Constituent ID:</strong>&nbsp;@constituentId </td></tr>
            <tr><td><strong>Company Name:</strong>&nbsp;@company.Name </td></tr>
            <tr><td><strong>Company Address:</strong>&nbsp;@address</td></tr>
            <tr><td><strong>Company Phone:</strong>&nbsp;@company.Phone </td></tr>
            <tr><td><strong>Primary Contact Name, Phone:</strong>&nbsp;@company.GetCompanyContact().FirstName @company.GetCompanyContact().LastName, &nbsp;@company.GetCompanyContact().Phone</td></tr>
            <tr><td><strong>Membership Status:</strong>&nbsp;@memberStatus</td></tr>
            <tr><td><strong>Sales Rep/Manager:</strong>&nbsp;@Model.ApprovedBy</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Please contact the appropriate person or department. </td></tr>
        </tbody>
    </table>
</body>
</html>