@using asi.asicentral.web
@using asi.asicentral.model.store
@using asi.asicentral.web.Controllers.Store
@using asi.asicentral.util.store;
@model asi.asicentral.web.model.store.EmailExpressModel
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@section Content {
    @Styles.Render("~/Content/form")
    @Styles.Render("~/Content/MultiSelectedDatePicker")
}
<h1>@string.Format(Model.ProductName) (#@Model.OrderId)</h1>
@if (Model.Price > 0.0m)
{
    <p>@Model.ProductName product purchase fee is @Model.Price.ToString("C")</p>
}
@Html.Partial("../Store/Application/Shared/OrderSummary", Model)
@using (Html.BeginForm("EditEmailExpress", "Application"))
{        
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.OrderDetailId) @Html.HiddenFor(m => m.OrderId) @Html.HiddenFor(m => m.ActionName)
    @Html.Partial("../Store/Application/Shared/AcceptSaveCancelButtons", Model)
    <nav>
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#tabbasic" data-toggle="tab">Basic Information</a></li>
            <li><a href="#tabsubscription" data-toggle="tab">@Model.ProductName Information</a></li>
        </ul>
    </nav>
    <div class="tab-content">
        @Html.Partial("../Store/Application/Shared/CompanyInformation", Model)

        <div id="tabsubscription" class="product-information tab-pane fade">
            <fieldset class="company-info-form">
                <legend>@string.Format("{0} {1}", Html.Raw(Model.ProductName), "Information")</legend>
               
                    <span class="label-row span11">
                        <strong>Option:</strong>
                    </span>
                    <span class="label-row">
                         <input type="text" readonly="true" value="@Model.ItemTypes.Where(item => item.Value==Model.ItemTypeId.ToString()).First().Text" />
                    </span>
                    <span class="label-row span11" id="divDate">
                        <strong> @asi.asicentral.Resources.Resource.EmailExpress_Quantity:</strong>
                    </span>
                    <span class="label-row">
                      <input type="text" readonly="true" value="@Model.Sends" />
                    </span>
                    <div class="control-group">
                        <div class="controls">
                        </div>
                    </div>
               
                <div class="control-group">
                    <div class="controls">
                        <p><strong id="lblTotal">Total: $@String.Format("{0:N}", Model.TotalCost)</strong></p>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- END #orderdetail-information -->

    </div> <!-- END #content -->
}

@section Scripts{
 <script src="/Scripts/asi.js"></script>
 <script type="text/javascript">
     $('input.command').click(function (e) {

         $('#ActionName').val(e.target.value);
         if ($('#ActionName').val() == '@ApplicationController.COMMAND_ACCEPT') {
                   //make sure we have Timms value
                   if (!$('#ExternalReference').val()) {
                       asi.modal.confirm('Error', 'You need to pass a Timms ID number to approve order.', null, "#hide", "Close");
                       $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                       $("#timmsErrorMessage").text("You need to pass a Timms ID number to approve order.");
                       e.preventDefault();
                   }
                   else {
                       var isnum = /^\d+$/.test($('#ExternalReference').val());
                       if (!isnum) {
                           asi.modal.confirm('Error', 'TIMMS ID must contain only numbers.', null, "#hide", "Close");
                           $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                           $("#timmsErrorMessage").text("TIMMS ID must contain only numbers.");
                           e.preventDefault();
                       }
                       else if ($('#hasPendingTerms').length > 0) {
                           $("#termsWarningMessage").text('This order has pending Terms and Conditions.');
                           var confirm = window.confirm('This order has pending Terms and Conditions. Are you sure to accept the order?');
                           if (!confirm) {
                               e.preventDefault();
                           }
                       }
                   }
               }
     });
 </script>
}




