@using asi.asicentral.web
@using asi.asicentral.model.store
@using asi.asicentral.web.Controllers.Store
@using asi.asicentral.Resources
@model asi.asicentral.web.model.store.MagazinesAdvertisingApplicationModel
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@if (Model.ProductId == 52)
{
    @section Content {
        @Styles.Render("~/Content/MultiSelectedDatePicker")
    }
}
<h1>@string.Format(Model.ProductName) (#@Model.OrderId)</h1>
@if (Model.Price > 0.0m)
{
    <p>@Model.ProductName product purchase fee is @Model.Price.ToString("C")</p>
}
@Html.Partial("../Store/Application/Shared/OrderSummary", Model)
@using (Html.BeginForm("EditMagazineAdvertising", "Application"))
{        
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.OrderDetailId) @Html.HiddenFor(m => m.OrderId) @Html.HiddenFor(m => m.ActionName)
    @Html.Partial("../Store/Application/Shared/AcceptSaveCancelButtons", Model)
    <nav>
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#tabbasic" data-toggle="tab">Basic Information</a></li>
            <li><a href="#tabsubscription" data-toggle="tab">@Model.ProductName Information</a></li>
        </ul>
    </nav>
    <div class="tab-content">
        @Html.Partial("../Store/Application/Shared/CompanyInformation", Model)

        <div id="tabsubscription" class="product-information tab-pane fade">
            <fieldset class="company-info-form">
                <legend>@string.Format("{0} {1}", Html.Raw(Model.ProductName), "Information")</legend>
                @switch (Model.ProductId)
                {
                    case 72:
                    case 73:
                    case 74:
                    case 75:
                    case 76:
                        {
                            int seq = 1;
                            for (int i = 0; i < Model.MagAdItem.Count; i++)
                            {

                                if (seq == Model.MagAdItem[i].Sequence)
                                {
                    <span class="label-row">
                        @Html.Raw("Ad Item#" + seq.ToString())
                    </span>
                    <span class="label-row">
                        @Html.Label("Size")
                        @Html.Label("Position")
                        @Html.Label("Artwork")
                    </span>
                    <span class="label-row">
                        <input type="text" readonly="true" value="@Model.MagAdItem[i].Size.Description" />
                        <input type="text" readonly="true" value="@Model.MagAdItem[i].Position.Description" />
                        <input type="text" readonly="true" value="@Model.MagAdItem[i].ArtWork" />
                    </span> 
                    <span class="label-row">
                        @Html.Label("Issue/Issues")
                    </span>
                                    seq++;
                                }
                    <span class="label-row">
                        @{
                                DateTime startDate = new DateTime(Model.MagAdItem[i].Issue.Issue.Year, Model.MagAdItem[i].Issue.Issue.Month, 1); // getting first date
                                DateTime endDate = startDate.AddMonths(1).AddDays(-1); // getting last date
                                DateTime middleDate = startDate.AddDays((endDate.Day) / 2); // getting middle date
                                string month = string.Empty;
                                if (Model.MagAdItem[i].Issue.Issue.Date != middleDate.Date)
                                {
                                    if (Model.ids.Contains(Model.MagAdItem[i].Issue.Id))
                                    {
                                        month = @Model.MagAdItem[i].Issue.Issue.AddMonths(-1).ToString("MMMM") + "/" + @Model.MagAdItem[i].Issue.Issue.ToString("MMMM") + " '" + @Model.MagAdItem[i].Issue.Issue.ToString("yy");
                                    }
                                    else
                                    {
                                        month = @Model.MagAdItem[i].Issue.Issue.ToString("MMMM") + " '" + @Model.MagAdItem[i].Issue.Issue.ToString("yy");
                                    }
                                }
                                else
                                {
                                    month = "Mid-" + @Model.MagAdItem[i].Issue.Issue.ToString("MMMM") + " '" + @Model.MagAdItem[i].Issue.Issue.ToString("yy");
                                }
                            <input type="text" readonly="true" value="@month" />
                        }
                    </span> 
                            }
                        }
                        break;
                }
            </fieldset>
        </div>
        <!-- END #orderdetail-information -->

    </div> <!-- END #content -->
}

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/MultiSelectedDatePicker")
    <script src="/Scripts/asi.js"></script>
    <script>
        $('.dateField').datepicker()
        $('.date-clear').click(function () {
            $("input[name='" + this.id + "']").val('');
        });

        $('input.command').click(function (e) {
            $('#ActionName').val(e.target.value);
            if ($('#ActionName').val() == '@ApplicationController.COMMAND_ACCEPT') {
                //make sure we have Timms value
                if (!$('#ExternalReference').val()) {
                    asi.modal.confirm('Error', 'You need to pass a Timms ID number to approve order.', null, "#hide", "Close");
                    $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                    $("#timmsErrorMessage").text("You need to pass a Timms ID number to approve order.");
                    e.preventDefault();
                }
                else {
                    var isnum = /^\d+$/.test($('#ExternalReference').val());
                    if (!isnum) {
                        asi.modal.confirm('Error', 'TIMMS ID must contain only numbers.', null, "#hide", "Close");
                        $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                        $("#timmsErrorMessage").text("TIMMS ID must contain only numbers.");
                        e.preventDefault();
                    }
                    else {
                        var pendingTerms = false;
                        var orderId = $('#OrderId').val();
                        $.ajax({
                            type: 'POST',
                            contentType: 'application/json',
                            dataType: 'json',
                            url: '/Application/HasPendingTerms?orderId=' + orderId,
                            async: false,
                            success: function (data) {
                                pendingTerms = data.HasPendingTerms;
                            }
                        });

                        if (pendingTerms) {
                            var confirm = window.confirm('This order has pending Terms and Conditions. Are you sure to accept the order?');
                            if (!confirm) {
                                e.preventDefault();
                            }
                        }
                    }
                }
            }
        });
        $('[rel*="isprimary"]').change(function () {
            $('[rel*="isprimary"]').attr("checked", false);
            this.checked = true;
        });
    </script>
    @if (Model.ProductId == 52)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dates').multiDatesPicker({
                    dateFormat: "dd-mm-yy",
                    minDate: 0,
                    setDate: ""
                   , onSelect: function (dateText, inst) {
                       $("#LoginScreen_Dates").val("");
                       var date_String = "";
                       var dates = $('#dates').multiDatesPicker('getDates');
                       if (dates.length > 0) {
                           $.each(dates, function (index, value) {
                               date_String += value + "\n";
                           });
                       }
                       $("#txtSelectedDates").html(date_String);
                       $("#LoginScreen_Dates").val(date_String);
                   }
                });
                SetDates();
                var dates = $('#dates').multiDatesPicker('getDates');
            });

            function SetDates() {
                $("#txtSelectedDates").html($("#LoginScreen_Dates").val());
                var dates = $("#LoginScreen_Dates").val().split("\n");
                if (dates.length > 0) {
                    $.each(dates, function (index, value) {
                        if (value != "")
                            $('#dates').multiDatesPicker('addDates', value);
                    });
                }
            }
        </script>
    }
}
