@using asi.asicentral.web
@using asi.asicentral.model.store
@using asi.asicentral.web.Controllers.Store
@model asi.asicentral.web.model.store.OrderDetailApplicationModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>@Html.Raw(Model.ProductName) (#@Model.OrderId)</h1>
@if (Model.Price > 0.0m)
{
<p>@Html.Raw(Model.ProductName) product purchase fee is @Model.Price.ToString("C")</p>
}
@Html.Partial("../Store/Application/Shared/OrderSummary", Model)
@using (Html.BeginForm("EditOrderDetailProduct", "Application"))
{        
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ProductId)
@Html.HiddenFor(m => m.OrderDetailId) @Html.HiddenFor(m => m.OrderId) @Html.HiddenFor(m => m.ActionName)
@Html.Partial("../Store/Application/Shared/AcceptSaveCancelButtons", Model)
<nav>
	<ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#tabbasic" data-toggle="tab">Basic Information</a></li>
        @if (Model.ProductId != 70)
        {
		<li><a href="#tabsubscription" data-toggle="tab">@Html.Raw(Model.ProductName) Information</a></li>
        }
	</ul>
</nav>
<div class="tab-content">
    @Html.Partial("../Store/Application/Shared/CompanyInformation", Model)
    @if (Model.ProductId != 70)
    {
	<div id="tabsubscription" class="product-information tab-pane fade">
		<fieldset class="company-info-form">
            <legend>@Html.Raw(Model.ProductName) Information</legend>	
            @switch (Model.ProductId)
            {
                case 46:
                    if (Model.IsStoreRequest)
                    {
                    <span class="label-row span11">
			            <label class="control-label" for="Cost">@asi.asicentral.Resources.Resource.CurrentMembershipPackage</label>
                    </span>
                    <span class="label-row">
			            @Html.DropDownListFor(model => model.OptionId, asi.asicentral.util.store.ASISmartSalesHelper.GetCurrentMembershipOptions(), new { @class = "tab1" }) @Html.ValidationMessageFor(model => model.OptionId)
		            </span>
                    }
                    <span class="label-row span11">
                        @Html.LabelFor(m => m.Quantity)
		            </span>
		            <span class="label-row">
			            @Html.EditorFor(m => m.Quantity) @Html.ValidationMessageFor(m => m.Quantity)
		            </span>
                    break;
                case 62:
                <span class="label-row span11">
			        @Html.Label("Accepted by Name") 
		        </span>
		        <span class="label-row">
			        @Html.EditorFor(m => m.AcceptedByName) @Html.ValidationMessageFor(m => m.AcceptedByName)
		        </span>
                    break;
                case 71:
                <span class="label-row span11">
			        @Html.Label(asi.asicentral.Resources.Resource.NumberOfLicensesInPackage)
                </span>
		        <span class="label-row">
			        @Html.DropDownListFor(model => model.OptionId, asi.asicentral.util.store.CompanyStoreHelper.GetQuantityOptions(), new { @class = "tab1" }) @Html.ValidationMessageFor(model => model.OptionId)
		        </span>
                    break;
                case 77:
                       
                     @Html.HiddenFor(model => model.TotalCost)
                    <div class="control-group">
                        <label class="control-label" for="Cost">Selected package</label>
                        <div class="controls">
                            @foreach (var option in Model.Options)
                            {
                                <label class="radio">@Html.RadioButtonFor(model => model.OptionId, option.Value, new { @disabled = "true" }) @Html.Raw(option.Text) </label>
                            }
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="Cost">Selected Date</label>
                        <div class="controls">
                           <input type="text" value="@Model.StartDate" readonly="true" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                        </div>
                    </div>
                            break;
                case 96:
                case 97:
                case 98:
                    <span class="label-row span11">
                        @Html.Label("Google AdWords Cost")
		            </span>
		            <span class="label-row">
                    @if (Model.OptionId.HasValue && Model.OptionId.Value != 0)
                    {
			             @Html.DropDownListFor(model => model.OptionId, asi.asicentral.util.store.ASIBrandBuilderHelper.GetGoogleAdWordOptions(), new { @class = "tab1", @disabled = "true" }) @Html.ValidationMessageFor(model => model.OptionId)
                    }
                    else
                    {
                        @Html.Label("$0")
                    }
		            </span>
                    break;
                case 104:
                    if (Model.OptionId.HasValue && Model.OptionId.Value != 0)
                    {
                    <span class="label-row span11">
                        @Html.Label("Monthly Budget:")
		            </span>
		            <span class="label-row">
			             @Html.TextBoxFor(model => model.OptionId, new { @class = "tab1", @disabled = "true" }) @Html.ValidationMessageFor(model => model.OptionId)
		            </span>
                    <span class="label-row span11">
                        @Html.Label("Selected Package:")
		            </span>
		            <span class="label-row">
                         @{ string productName = asi.asicentral.util.store.TrafficBuilderHelper.GetProductName(Model.OptionId.Value); }
			             @Html.TextBoxFor(model => productName, new { @class = "tab1", @disabled = "true" }) @Html.ValidationMessageFor(model => model.AcceptedByName)
                      </span>
                    }
                    break;
                case 112:
                case 113:
                    <span class="label-row">
			            @Html.Label("Select Store")
                    </span>
		            <span class="label-row">
			            @Html.DropDownListFor(model => model.OptionId, asi.asicentral.util.store.SpecialtyShoppesHelper.GetQuantityOptions(), new { @class = "span3 long" }) @Html.ValidationMessageFor(model => model.OptionId)
		            </span>
                    <span class="checkbox-left">
                        <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.IsBonus)">@Html.CheckBoxFor(m => m.IsBonus) <strong>BONUS:</strong> Receive an additional 20% off any store or package of stores when pre-paid for the year </label>
		            </span>
                    break;
                case 126:
                    <span class="label-row span11">
                        <label><strong>Credits</strong></label>
                        <label><strong>Price</strong></label>
                        <label><strong>Cost Per Email</strong></label>
			        </span>
                    foreach (var option in asi.asicentral.util.store.emailmarketing.EmailMarketingHelper.EmailMarketingOptions)
                    {
                        <span class="label-row span11">
                            <label class="radio">@Html.RadioButtonFor(model => model.OptionId, option.Key) @Html.Raw(option.Value[0]) </label>
                            <label>$@Html.Raw(option.Value[1])</label>
                            <label>$@Html.Raw(option.Value[2])</label>
                        </span>                                
                    }
                    break;
                default:
                <span class="label-row span11">
			        @Html.LabelFor(m => m.Quantity) 
		        </span>
		        <span class="label-row">
			        @Html.TextBoxFor(m => m.Quantity, new { @class = "tab1", @disabled = "true" }) @Html.ValidationMessageFor(m => m.Quantity)
		        </span>
                    break;
            }
		</fieldset>    
	</div><!-- END #orderdetail-information -->	
    }
 </div> <!-- END #content -->
}
    
@section Scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script src="/Scripts/orders.js"></script>
}
