@using asi.asicentral.model.store
@using asi.asicentral.util.store.catalogadvertising
@using asi.asicentral.web.Controllers.Store
@model asi.asicentral.web.model.store.SalesFormApplicationModel
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<h1>@Html.Raw(string.Format("{0} (#{1})", Model.ProductName, Model.OrderId))</h1>
@if (Model.Price > 0.0m)
{
    <p>@Model.ProductName product purchase fee is @Model.Price.ToString("C")</p>
}
@Html.Partial("../Store/Application/Shared/OrderSummary", Model)
@using (Html.BeginForm("EditSalesForm", "Application"))
{        
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.OrderDetailId) @Html.HiddenFor(m => m.OrderId) @Html.HiddenFor(m => m.ActionName)
    @Html.Partial("../Store/Application/Shared/AcceptSaveCancelButtons", Model)
    <nav>
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#tabbasic" data-toggle="tab">Basic Information</a></li>
            <li><a href="#tabproduct" data-toggle="tab">Sales Form Data</a></li>
        </ul>
    </nav>
    <div class="tab-content">
        @Html.Partial("../Store/Application/Shared/CompanyInformation", Model)
	    <div id="tabproduct" class="product-information tab-pane fade">
			@if (Model.SpecialProductItems != null && Model.SpecialProductItems.Any())
			{
                var item = Model.SpecialProductItems.First();
		        <fieldset>
			        <legend>Sales Representative</legend>
				    <span>@item.ASIContactName</span>
		        </fieldset>
                if( !string.IsNullOrEmpty(item.ASIContactEmail))
                {
		            <fieldset>
			            <legend>Sales Representative Email</legend>
				        <span>@item.ASIContactEmail</span>
		            </fieldset>
                }
                if( !string.IsNullOrEmpty(item.CustomerEmail))
                {
		            <fieldset>
			            <legend>Customer Email</legend>
				        <span>@item.CustomerEmail</span>
		            </fieldset>
                }
			}
		    @if(!string.IsNullOrEmpty(Model.OrderDetailComments))
		    {
		    <fieldset>
			    <legend>Special Instructions</legend>
				<span>@Model.OrderDetailComments</span>
		    </fieldset>
			}
		    <fieldset>
			    <legend>Order Details</legend>
		    </fieldset>
		    @if (Model.SpecialProductItems != null && Model.SpecialProductItems.Any())
	        {
			    <table class="table">
				    <thead>
					    <tr>
						    <th>ASI Services</th>
						    <th>Fee</th>
						    <th>Quantity</th>
						    <th>Regular Price</th>
						    <th>Limited Time offer</th>
					    </tr>
				    </thead>
				    <tbody >
					    @foreach (var item in Model.SpecialProductItems)
		                {
						    <tr>
							    <td>@asi.asicentral.util.store.SalesFormHelper.GetProductDescription(item.ServiceType)</td>
							    <td>@Html.Raw(item.IsSetupCharges ? "<i class=\"icon-ok\"></i>" : "&nbsp;")</td>
							    <td>@item.Quantity</td>
							    <td>@item.Price</td>
							    <td>@item.OfferPrice</td>
						    </tr>
		                 }
				    </tbody>
			    </table>
	        }
	  else
	  {
			    <text>No data was associated with this order</text>
	  }
	    </div>
        <!-- END #orderdetail-information -->
    </div> <!-- END #content -->
}

@section Scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script src="/Scripts/orders.js"></script>
}

