@using asi.asicentral.web
@using asi.asicentral.web.Controllers.Store
@using asi.asicentral.Resources
@model asi.asicentral.web.model.store.SupplierApplicationModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>@Resource.StoreTitleSupplierApplication (#@Model.OrderId)</h1>
<p>The Membership product purchase fee is @Model.Price.ToString("C")</p>
@Html.Partial("../Store/Application/Shared/OrderSummary", Model)
@using (Html.BeginForm("EditSupplier", "Application"))
{        
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.OrderDetailId) @Html.HiddenFor(m => m.OrderId) @Html.HiddenFor(m => m.ActionName) @Html.HiddenFor(m => m.CreateDate)
@Html.Partial("../Store/Application/Shared/AcceptSaveCancelButtons", Model)
<nav>
	<ul class="nav nav-tabs" id="tabs">
		<li class="active"><a href="#tabbasic" data-toggle="tab">Basic Information</a></li>
		<li><a href="#tabproduct" data-toggle="tab">Product Information</a></li>
		<li><a href="#tabaccount" data-toggle="tab">Account Information</a></li>
	</ul>
</nav>
<div class="tab-content">
	@Html.Partial("../Store/Application/Shared/CompanyInformation", Model)
    	
	<div id="tabproduct" class="product-information tab-pane fade">
        <fieldset class="product-lines"><legend><small>Business Function</small></legend>
			<span class="checkbox-left">
				<label class="account-checkbox checkbox">@Html.CheckBox("IsImprinterVsDecorator") @Html.LabelFor(m => m.IsImprinterVsDecorator)</label>
                <label class="account-checkbox checkbox">@Html.CheckBox("IsManufacturer") @Html.LabelFor(m => m.IsManufacturer)</label>
                <label class="account-checkbox checkbox">@Html.CheckBox("IsWholesaler") @Html.LabelFor(m => m.IsWholesaler)</label>
            </span>
			<span class="checkbox-right">
				<label class="account-checkbox checkbox">@Html.CheckBox("IsImporter") @Html.LabelFor(m => m.IsImporter)</label>
                <label class="account-checkbox checkbox">@Html.CheckBox("IsRetailer") @Html.LabelFor(m => m.IsRetailer)</label>
            </span>
        </fieldset>
        <fieldset><legend><small>Methods of Imprinting</small></legend>
			<span class="checkbox-left">
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Etching)">@Html.CheckBox("Etching", Model.Etching) @Html.LabelFor(m => m.Etching)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SilkScreen)">@Html.CheckBox("SilkScreen") @Html.LabelFor(m => m.SilkScreen)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.DirectEmbroidery)">@Html.CheckBox("DirectEmbroidery") @Html.LabelFor(m => m.DirectEmbroidery)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Lithography)">@Html.CheckBox("Lithography") @Html.LabelFor(m => m.Lithography)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.FourColourProcess)">@Html.CheckBox("FourColourProcess") @Html.LabelFor(m => m.FourColourProcess)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Laser)">@Html.CheckBox("Laser") @Html.LabelFor(m => m.Laser)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Transfer)">@Html.CheckBox("Transfer") @Html.LabelFor(m => m.Transfer)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.DieStamp)">@Html.CheckBox("DieStamp") @Html.LabelFor(m => m.DieStamp)</label> 
            </span>
			<span class="checkbox-right">
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.HotStamping)">@Html.CheckBox("HotStamping") @Html.LabelFor(m => m.HotStamping)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.PadPrint)">@Html.CheckBox("PadPrint") @Html.LabelFor(m => m.PadPrint)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.FoilStamping)">@Html.CheckBox("FoilStamping") @Html.LabelFor(m => m.FoilStamping)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Sublimination)">@Html.CheckBox("Sublimination") @Html.LabelFor(m => m.Sublimination)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Engraving)">@Html.CheckBox("Engraving") @Html.LabelFor(m => m.Engraving)</label> 
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.Offset)">@Html.CheckBox("Offset") @Html.LabelFor(m => m.Offset)</label> 
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.FullColourProcess)">@Html.CheckBox("FullColourProcess") @Html.LabelFor(m => m.FullColourProcess)</label> 
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.OtherDecoratingMethod)">@Html.CheckBox("OtherDecoratingMethod") @Html.LabelFor(m => m.OtherDecoratingMethod) @Html.EditorFor(m => m.OtherDec) @Html.ValidationMessageFor(m => m.OtherDec)</label>
            </span>
        </fieldset>
    </div>

	<div id="tabaccount" class="account-information tab-pane fade">
        <fieldset><legend><small>Account Information</small></legend>
				<span class="label-row">
					@Html.LabelFor(m => m.LineNames)
					@Html.LabelFor(m => m.YearEstablished)
					@Html.LabelFor(m => m.YearEnteredAdvertising)
				</span>
				<span class="label-row">
					@Html.EditorFor(m => m.LineNames) @Html.ValidationMessageFor(m => m.LineNames)
					@Html.EditorFor(m => m.YearEstablished) @Html.ValidationMessageFor(m => m.YearEstablished)
					@Html.EditorFor(m => m.YearEnteredAdvertising) @Html.ValidationMessageFor(m => m.YearEnteredAdvertising)
				</span>
				<span class="label-row">
                    @Html.LabelFor(m => m.NumberOfEmployee)
                    @Html.LabelFor(m => m.BusinessHours)
                    @Html.LabelFor(m => m.ProductionTime)
				</span>
				<span class="label-row">
                    @Html.EditorFor(m => m.NumberOfEmployee) @Html.ValidationMessageFor(m => m.NumberOfEmployee)
                    @Html.EditorFor(m => m.BusinessHours) @Html.ValidationMessageFor(m => m.BusinessHours)
                    @Html.EditorFor(m => m.ProductionTime) @Html.ValidationMessageFor(m => m.ProductionTime)
				</span>
				<span class="label-row">
                    @Html.LabelFor(m => m.SalesVolume)
                    @Html.LabelFor(m => m.OfficeHourStart)
                    @Html.LabelFor(m => m.AffiliateCompanyName)
				</span>
				<span class="label-row">
                    @Html.EditorFor(m => m.SalesVolume) @Html.ValidationMessageFor(m => m.SalesVolume)
                    @Html.EditorFor(m => m.OfficeHourStart) @Html.ValidationMessageFor(m => m.OfficeHourStart)
                    @Html.EditorFor(m => m.AffiliateCompanyName) @Html.ValidationMessageFor(m => m.AffiliateCompanyName)
				</span>
				<span class="label-row">
                    @Html.LabelFor(m => m.AffiliateASINumber)
                    @Html.LabelFor(m => m.UPSAddress)
				</span>
				<span class="label-row">
                    @Html.EditorFor(m => m.AffiliateASINumber) @Html.ValidationMessageFor(m => m.AffiliateASINumber)
                    @Html.EditorFor(m => m.UPSAddress) @Html.ValidationMessageFor(m => m.UPSAddress)
				</span>
				<span class="label-row">
                    @Html.LabelFor(m => m.FedTaxId)
				</span>
				<span class="label-row">
                    @Html.EditorFor(m => m.FedTaxId) @Html.ValidationMessageFor(m => m.FedTaxId)
				</span>
			<span class="checkbox-left">
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.WomanOwned)">@Html.CheckBox("WomanOwned") @Html.LabelFor(m => m.WomanOwned)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.HasAmericanProducts)">@Html.CheckBox("HasAmericanProducts") @Html.LabelFor(m => m.SellThruInternet)</label>
            </span>
			<span class="checkbox-right">
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.IsMinorityOwned)">@Html.CheckBox("IsMinorityOwned") @Html.LabelFor(m => m.IsMinorityOwned)</label>
                <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.IsRushServiceAvailable)">@Html.CheckBox("IsRushServiceAvailable") @Html.LabelFor(m => m.IsRushServiceAvailable)</label>
            </span>
        </fieldset>
        <fieldset><legend><small>Other Options</small></legend>
			<span class="checkbox-left">
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.IsUnionMade)">@Html.CheckBox("IsUnionMade") @Html.LabelFor(m => m.IsUnionMade)</label>
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SellThruInternet)">@Html.CheckBox("SellThruInternet") @Html.LabelFor(m => m.SellThruInternet)</label>
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SellThruDirectMarketing)">@Html.CheckBox("SellThruDirectMarketing") @Html.LabelFor(m => m.SellThruDirectMarketing)</label>
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.AuthorizeUPSNewAccount)">@Html.CheckBox("AuthorizeUPSNewAccount") @Html.LabelFor(m => m.AuthorizeUPSNewAccount)</label>
            </span>
			<span class="checkbox-right">
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SellToEndUsers)">@Html.CheckBox("SellToEndUsers") @Html.LabelFor(m => m.SellToEndUsers)</label>
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SellThruRetail)">@Html.CheckBox("SellThruRetail") @Html.LabelFor(m => m.SellThruRetail)</label>
            <label class="account-checkbox checkbox" for="@Html.NameFor(model => model.SellThruAffiliate)">@Html.CheckBox("SellThruAffiliate") @Html.LabelFor(m => m.SellThruAffiliate)</label>
            </span>
        </fieldset>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script src="/Scripts/membership.js"></script>
    <script>
        $('input.command').click(function (e) {
            $('#ActionName').val(e.target.value);
            if ($('#ActionName').val() == '@ApplicationController.COMMAND_ACCEPT') {
                //make sure we have Timms value
                if (!$('#ExternalReference').val()) {
                    asi.modal.confirm('Error', 'You need to pass a Timms ID number to approve order.', null, "#hide", "Close");
                    $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                    $("#timmsErrorMessage").text("You need to pass a Timms ID number to approve order.");
                    e.preventDefault();
                }
                else {
                    var isnum = /^\d+$/.test($('#ExternalReference').val());
                    if (!isnum) {
                        asi.modal.confirm('Error', 'TIMMS ID must contain only numbers.', null, "#hide", "Close");
                        $("#ExternalReference").attr("class", "text-box single-line input-validation-error");
                        $("#timmsErrorMessage").text("TIMMS ID must contain only numbers.");
                        e.preventDefault();
                    }
                    else if ($('#hasPendingTerms').length > 0) {
                        $("#termsWarningMessage").text('This order has pending Terms and Conditions.');
                        var confirm = window.confirm('This order has pending Terms and Conditions. Are you sure to accept the order?');
                        if (!confirm) {
                            e.preventDefault();
                        }
                    }
                }
            }
        });
        $('[rel*="isprimary"]').change(function () {
            $('[rel*="isprimary"]').attr("checked", false);
            this.checked = true;
        });
    </script>
}
