@inherits System.Web.Mvc.WebViewPage<asi.asicentral.model.Publication>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This Web page shows how to view/edit a specific database item.
            </p>
        </div>
    </section>
}
@using (Html.BeginForm()) {
<h3>Publication</h3>  <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "Index");
@Html.HiddenFor(model=>model.PublicationId)
<div class="editor-label">@Html.LabelFor(model => model.Name)</div>
<div class="editor-field">@Html.EditorFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name) </div>
}
<h4>Schedule</h4>
<table>
    <tr><th style="width:100px">Identifier</th><th style="width:200px">Name</th></tr>
    @foreach (asi.asicentral.model.PublicationIssue issue in Model.Issues)
    {
        <tr><td>@issue.PublicationIssueId</td><td>@issue.Name</td></tr>
    }
</table>