@inherits System.Web.Mvc.WebViewPage<asi.asicentral.model.Publication>
@section css {
    @Styles.Render("~/Content/form")
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This Web page shows how to view/edit a specific database item. All other strings are from a Resource file.
            </p>
        </div>
    </section>
}
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<h3>@Html.Encode(asi.asicentral.web.Resource.PublicationEditFieldsTitle)</h3>  <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "Index");
@Html.HiddenFor(model=>model.PublicationId)
<div class="form-group">
    @Html.LabelFor(model => model.Name) @Html.EditorFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name)
    @Html.LabelFor(model => model.Description) @Html.EditorFor(model => model.Description) @Html.ValidationMessageFor(model => model.Description)
    @Html.LabelFor(model => model.Color) @Html.EditorFor(model => model.Color) @Html.ValidationMessageFor(model => model.Color)
    <label class="checkbox" for="IsPublic">@Html.EditorFor(model => model.IsPublic) @Html.DisplayNameFor(model => model.IsPublic)</label>

    <div id="StartDatePicker" class="input-append date">@Html.LabelFor(model => model.StartDate) @Html.EditorFor(model => model.StartDate) @Html.ValidationMessageFor(model => model.StartDate)</div>
    <div id="datetimepicker1" class="input-append date"><input data-format="dd/MM/yyyy hh:mm:ss" type="text"/><span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span></div>

    @Html.LabelFor(model => model.EndDate)@Html.EditorFor(model => model.EndDate) @Html.ValidationMessageFor(model => model.EndDate)

@if (Model.Issues == null || Model.Issues.Count == 0)
{
    <label>@Html.Encode(asi.asicentral.web.Resource.PublicationEditFieldsNoSchedule)</label>
}
else {
<table class="table">
    <tr><th width="50%">@Html.Encode(asi.asicentral.web.Resource.PublicationEditFieldsSchedule)</th></tr>
    @foreach (asi.asicentral.model.PublicationIssue issue in Model.Issues)
    {
        <tr><td>@issue.Name</td></tr>
    }
</table>
}
</div>
}
@section scripts {
    @Scripts.Render("~/bundles/form")
<script>
    $('#EndDate').datepicker();
    $('#datetimepicker1').datetimepicker();
</script>
}
