@using asi.asicentral.web
@using asi.asicentral.model.store
@using asi.asicentral.web.model.store
@model OrderPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.TitleASIStoreAdmin</h2>
<div class="tabbable tabs-below small">
    <h5>Search by</h5>
    <ul id="formtab" class="nav nav-tabs">
        <li class="@(Model.FormTab == OrderPageModel.TAB_DATE ? "active" : string.Empty)"><a href="#@OrderPageModel.TAB_DATE">Date</a></li>
        <li class="@(Model.FormTab == OrderPageModel.TAB_ORDER ? "active" : string.Empty)"><a href="#@OrderPageModel.TAB_ORDER">Order</a></li>
        <li class="@(Model.FormTab == OrderPageModel.TAB_PRODUCT ? "active" : string.Empty)"><a href="#@OrderPageModel.TAB_PRODUCT">Product</a></li>
        <li class="@(Model.FormTab == OrderPageModel.TAB_NAME ? "active" : string.Empty)"><a href="#@OrderPageModel.TAB_NAME">Name</a></li>
        <li class="@(Model.FormTab == OrderPageModel.TAB_TIMMS ? "active" : string.Empty)"><a href="#@OrderPageModel.TAB_TIMMS">Timms</a></li>
    </ul>
    <div class="tab-content" id="formtab-content">
        <div class="tab-pane @(Model.FormTab == OrderPageModel.TAB_DATE ? "active" : string.Empty)" id="@OrderPageModel.TAB_DATE">
            <div class="well">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class="form-inline", @id="form-" + @OrderPageModel.TAB_DATE }))
            {                
                <div class="formField"><label for="startDate">Start Date</label> <input data-type="date" name="DateStart" type="text" value="@Model.StartDate" />
                <label for="endDate">End Date</label> <input data-type="date" name="DateEnd" type="text" value="@Model.EndDate" />
                <input type="hidden" value="@OrderPageModel.TAB_DATE" name="formtab" />
                <input type="hidden" value="@Model.OrderTab" name="ordertab" />                
                <input type="submit" value="Search" class="btn" /></div>
            }
            </div>
        </div>
        <div class="tab-pane @(Model.FormTab == OrderPageModel.TAB_ORDER ? "active" : string.Empty)" id="@OrderPageModel.TAB_ORDER">
            <div class="well">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class="form-inline", @id="form-" + @OrderPageModel.TAB_ORDER }))
            {
                <div class="formField"><label for="orderid">Order Id</label> <input name="orderId" type="text" value="@Model.OrderIdentifier" />
                <input type="hidden" value="@OrderPageModel.TAB_ORDER" name="formtab" />
                <input type="hidden" value="@Model.OrderTab" name="ordertab" />  
                <input type="submit" value="Search" class="btn" /></div>
            }
            </div>
        </div>
        <div class="tab-pane @(Model.FormTab == OrderPageModel.TAB_PRODUCT ? "active" : string.Empty)" id="@OrderPageModel.TAB_PRODUCT">
            <div class="well">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class="form-inline", @id="form-" + @OrderPageModel.TAB_PRODUCT }))
            {
                <div class="formField"><label for="productid">Product Name</label> <input name="product" type="text" value="@Model.Product"/></div>
                <div class="formField"><label for="startDate">Start Date</label> <input data-type="date" name="DateStart" type="text" value="@Model.StartDate" />
                <label for="endDate">End Date</label> <input data-type="date" name="DateEnd" type="text" value="@Model.EndDate" />
                <input type="hidden" value="@OrderPageModel.TAB_PRODUCT" name="formtab" />
                <input type="hidden" value="@Model.OrderTab" name="ordertab" />  
                <input type="submit" value="Search" class="btn" /></div>
            }
            </div>
        </div>
        <div class="tab-pane @(Model.FormTab == OrderPageModel.TAB_NAME ? "active" : string.Empty)" id="@OrderPageModel.TAB_NAME">
            <div class="well">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class="form-inline", @id ="form-" + @OrderPageModel.TAB_NAME }))
            {
                <div class="formField"><label for="firstname">First or last name</label> <input name="name" type="text" value="@Model.Name" /></div>
                <div class="formField"><label for="startDate">Start Date</label> <input data-type="date" name="DateStart" type="text" value="@Model.StartDate" />
                <label for="endDate">End Date</label> <input data-type="date" name="DateEnd" type="text" value="@Model.EndDate" />
                <input type="hidden" value="@OrderPageModel.TAB_NAME" name="formtab" />
                <input type="hidden" value="@Model.OrderTab" name="ordertab" />  
                <input type="submit" value="Search" class="btn" /></div>
            }
            </div>
        </div>
        <div class="tab-pane @(Model.FormTab == OrderPageModel.TAB_TIMMS ? "active" : string.Empty)" id="@OrderPageModel.TAB_TIMMS">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class="form-inline", @id="form-" + @OrderPageModel.TAB_TIMMS }))
            {
                <div class="well">
                <div class="formField"><label for="timmsid">TIMMS ID</label> <input id="timmsid" name="id" type="text" value="" />
                <input type="hidden" value="@OrderPageModel.TAB_TIMMS" name="formtab" />
                <input type="hidden" value="@Model.OrderTab" name="ordertab" />  
                <input type="submit" value="Search" class="btn" /></div>
                </div>
            }
        </div>
    </div>
</div>
@if (ViewBag.Message != null || ViewBag.Message == "")
{   <div class="alert">@ViewBag.Message</div>   }
<div class="tabbable tabls-below">
    <ul id="ordertab" class="nav nav-tabs">
        <li class="@(Model.OrderTab == OrderPageModel.ORDER_COMPLETED ? "active" : string.Empty)"><a href="#@OrderPageModel.ORDER_COMPLETED">Completed Orders</a></li>
        <li class="@(Model.OrderTab == OrderPageModel.ORDER_INCOMPLETE ? "active" : string.Empty)"><a href="#@OrderPageModel.ORDER_INCOMPLETE">Incomplete Orders</a></li>
        <li class="@(Model.OrderTab == OrderPageModel.ORDER_PENDING ? "active" : string.Empty)"><a href="#@OrderPageModel.ORDER_PENDING">Orders to Approve</a></li>
    </ul>
    <div class="tab-content">
        <div id="@Model.OrderTab" class="tab-pane active">
        @if (Model.Orders != null && Model.Orders.Count > 0) {
        <table class="table table-bordered table-condensed table-striped">
            <thead><tr><th>@Resource.StoreOrderID</th><th>Name</th><th>Email</th><th>Item</th><th>Application</th><th>Quantity</th><th>Price</th><th>Billing Information</th><th>CreditCard</th><th>@Resource.StoreDateOrderCreated</th></tr></thead>
            <tbody>            
            @foreach (OrderModel order in Model.Orders)
            {
                <tr><td>@if(order.ApprovalStatus == OrderStatus.Pending && order.Application != null) { 
                    <a id="@order.OrderId" rel="tooltip" data-placement="top" data-type="reject" title="Click here to reject the order" href="#"><i class="icon-remove"></i></a>
                    <a rel="tooltip" data-placement="top" title="Click here to accept the order" href="@Url.Action("Edit", "Application", new { Id = order.Application.Id, OrderId = order.OrderId })"><i data-orderid="@order.OrderId" class="icon-ok"></i></a> 
                }
                else { <img src="/images/transparent.gif" style="height:1px;width:33px" /> }
                @order.OrderId
                </td><td>@order.Name</td><td>@order.Email</td><td><a href="#" class="productRef">@order.Item</a></td>
                @if (order.Application != null)
                { <td><a href="@Url.Action("Edit", "Application", new { Id = order.Application.Id, OrderId = order.OrderId })">Application</a></td> }
                else
                { <td>&nbsp</td> }
                <td>@order.Quantity</td><td>$@order.Price</td><td>@order.Billing</td><td>@order.CreditCard</td><td>@order.DateOrderCreated.ToString("MM/dd/yy")</td></tr>
            }
            </tbody>
        </table>
        }
        else {
            <p>Sorry, there is no data matching your criteria.</p>
        }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script>
        $('input[data-type*="date"]').datepicker();

        $('ul[id*="formtab"] a').click(function (e) {
            e.preventDefault();
            var tabname = e.target.toString();
            tabname = tabname.substr(tabname.indexOf("#") + 1);
            $('input[name*="formtab"]').val(tabname);
            $(this).tab('show');
        });

        $('ul[id*="ordertab"] a').click(function (e) {
            e.preventDefault();
            var tabname = e.target.toString();
            tabname = tabname.substr(tabname.indexOf("#") + 1);
            $('input[name*="ordertab"]').val(tabname);
            //find the current active form
            var tab = $('div[id*="formtab-content"] div.active')[0].id;
            $('form[id="form-' + tab + '"] input[name=ordertab]').val(tabname);
            $('form[id="form-' + tab + '"]').submit();
        });
        $('a.productRef').click(function (e) {
            e.preventDefault();
            $('form[id="form-@OrderPageModel.TAB_PRODUCT"] input[name=product]').val(e.target.textContent);
            $('form[id="form-@OrderPageModel.TAB_PRODUCT"]').submit();
        });

        $('a[data-type="reject"]').click(function (e) {
            e.preventDefault();
            asi.modal.confirm("Reject Order", "Are you sure you want to reject this order?", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "Orders/Reject/" + e.target.parentElement.id,
                    }).done(function (status) {
                        if (status.Success) {
                            //refresh the page
                            var tab = $('div[id*="formtab-content"] div.active')[0].id;
                            $('form[id="form-' + tab + '"]').submit();
                        }
                        else {
                            alert("Failed to update the order: " + status.Error);
                        }
                    });
                };
            });
        });
   </script>
}

