@using asi.asicentral.web
@using asi.asicentral.web.Models.Store
@using asi.asicentral.model.store
@model ViewOrders

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.TitleASIStoreAdmin</h2>
<p>@Resource.StoreSearchMessage</p>

@using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class = "form-inline" }))
{
    <label for="startDate">Start Date</label>
    <input id="startDate" name="startDate" type="text" value="@ViewBag.StartDate" />
        
    <label for="endDate">End Date</label>
    <input id="endDate" name="endDate" type="text" value="@ViewBag.EndDate" />

    <input type="submit" value="Search" class="btn" />
    
    <div class="form-horizontal">
    <label for="endDate">Show Open Orders</label>
    <input id="showOpenOrders" name="endDate" type="checkbox" />
    
    @if (ViewBag.Message != null || ViewBag.Message == "")
    {   <div class="alert">@ViewBag.Message</div>   }
    </div>
}
<h4>@Resource.StoreTitleOrders</h4>

<table class="table table-bordered table-condensed">
    <thead><tr><th>OrderID</th><th>Email</th><th>Item</th><th>Application</th><th>Quantity</th><th>Price</th><th>Billing Address</th></tr></thead>
    <tbody>
    @foreach (ClosedOrder order in Model.closedOrders)
    {
        <tr>
            <td>@order.orderDetail.OrderId</td>
            <td>email</td>
            <td>@order.orderDetail.Product.Description</td>
            <td></td>
            <td>@order.orderDetail.Quantity</td>
            <td>@order.orderDetail.Subtotal</td>
            <td>@order.Billing</td>
        </tr>
    }
    </tbody>
</table>

<h4>@Resource.StoreTitleOpenCarts</h4>
<table class="table table-bordered table-condensed table-striped">
    <tr><th>@Resource.StoreOrderID</th><th>@Resource.StoreName</th><th>@Resource.StoreCompany</th><th>@Resource.StorePhone</th><th>@Resource.StoreProduct</th><th>@Resource.StoreBillingAddress</th><th>@Resource.StoreDateOrderCreated</th></tr>
    <tbody>
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script>
        $("#startDate").datepicker();
        $("#endDate").datepicker();
    </script>
}
