@using asi.asicentral.web
@using asi.asicentral.web.Models.Store
@using asi.asicentral.model.store
@model ViewOrders

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.TitleASIStoreAdmin</h2>
<p>@Resource.StoreSearchMessage</p>

<div class="tabbable tabs-left small">
    <ul id="formtab" class="nav nav-tabs">
        <li class="active"><a href="#first">Search by Date</a></li>
        <li><a href="#second">Search by Order Id</a></li>
        <li><a href="#third">Search by Product Id</a></li>
        <li><a href="#fourth">Search by Name</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="first">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class = "form-inline" }))
            {
                <label for="startDate">Start Date</label> <input id="startDate" name="startDate" type="text" value="@ViewBag.StartDate" />
                <label for="endDate">End Date</label> <input id="endDate" name="endDate" type="text" value="@ViewBag.EndDate" />
                <input type="submit" value="Search" class="btn" />
            }
        </div>
        <div class="tab-pane" id="second">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class = "form-inline" }))
            {
                <label for="orderid">Order Id</label> <input id="orderid" name="orderid" type="text" value="" />
                <input type="submit" value="Search" class="btn" />
            }
        </div>
        <div class="tab-pane" id="third">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class = "form-inline" }))
            {
                <label for="productid">Product Id</label> <input id="productid" name="productid" type="text" value="" />
                <input type="submit" value="Search" class="btn" />
            }
        </div>
        <div class="tab-pane" id="fourth">
            @using (Html.BeginForm("List", "../store/Orders", FormMethod.Get, new { @class = "form-inline" }))
            {
                <label for="firstname">First Name</label> <input id="firstname" name="firstname" type="text" value="" />
                <label for="lastname">Last Name</label> <input id="lastname" name="lastname" type="text" value="" />
                <input type="submit" value="Search" class="btn" />
            }
        </div>
    </div>
    <label for="showOpenOrders">Show Open Orders </label><input id="showOpenOrders" name="endDate" type="checkbox" />
</div>

@if (ViewBag.Message != null || ViewBag.Message == "")
{   <div class="alert">@ViewBag.Message</div>   }

<h4>@Resource.StoreTitleOrders</h4>
<table class="table table-bordered table-condensed">
    <thead><tr><th>OrderID</th><th>Email</th><th>Item</th><th>Application</th><th>Quantity</th><th>Price</th><th>Billing Address</th></tr></thead>
    <tbody>
    @foreach (ClosedOrder order in Model.closedOrders)
    {
        <tr>
            <td>
            <a class="RejectOrder" rel="tooltip" data-placement="top" title="Click here to reject the order" href="#"><i data-orderid="@order.OrderId" class="icon-remove"></i></a>
            <a class="AcceptOrder" rel="tooltip" data-placement="top" title="Click here to accept the order" href="#"><i data-orderid="@order.OrderId" class="icon-ok"></i></a>
            @order.OrderId
            </td>
            <td>@order.Email</td>
            <td>@order.Item</td>
            @if (order.Application != null)
            { <td><a href="@Url.Action("Edit", "Application", new OrderDetailApplication { Id = order.Application.Id })" target="_blank">Application</a></td> }
            else
            { <td>&nbsp</td> }
            <td>@order.Quantity</td>
            <td>@order.Price</td>
            <td>@order.Billing</td>
        </tr>
    }
    </tbody>
</table>

<h4>@Resource.StoreTitleOpenCarts</h4>
<table class="table table-bordered table-condensed table-striped">
    <tr><th>@Resource.StoreOrderID</th><th>Email</th><th>@Resource.StoreCompany</th><th>@Resource.StorePhone</th><th>@Resource.StoreProduct</th><th>@Resource.StoreBillingAddress</th><th>@Resource.StoreDateOrderCreated</th></tr>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="/Scripts/asi.js"></script>
    @Scripts.Render("~/bundles/form")
    <script>
        $("#startDate").datepicker();
        $("#endDate").datepicker();
        $(".RejectOrder").click(function (e) {
            asi.modal.confirm("@Html.Encode("Confirm reject?")", "Are you sure you want to reject this item?", function (result) {
            if (result) asi.util.submit('@Url.Action("../Orders/Reject")', [{ Name: 'orderid', Value: $(e.target).data("orderid") }, { Name: 'startDate', Value: $("#startDate").val() }, { Name: 'endDate', Value: $("#endDate").val() }]);
            });
        });
        $(".AcceptOrder").click(function (e) {
            asi.modal.confirm("@Html.Encode("Confirm reject?")", "Are you sure you want to reject this item?", function (result) {
                if (result) asi.util.submit('@Url.Action("../Orders/Reject")', [{ Name: 'orderid', Value: $(e.target).data("orderid") }, { Name: 'startDate', Value: $("#startDate").val() }, { Name: 'endDate', Value: $("#endDate").val() }]);
            });
        });
        $('#formtab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
}

