@model asi.asicentral.web.model.store.order.OrderStatisticData

@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>Campaign Statistics</h1>
<form method="post">
<div class="row-fluid well" >
    <div class="span1">&nbsp;</div>
    <div class="span3">
        <label for="Campaign">Campaign:</label>
        <input class="input-medium" type="text" name="Campaign" value="@Model.Campaign" />
    </div>
    <div class="span3">
        <label for="StartDate">Start Date:</label>
        <div class="input-append"><input class="input-medium" type="text" data-type="date" name="StartDate" value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("MM/dd/yyyy") : "")" /><span class="add-on"><i class="icon-remove" data-name="StartDate"></i></span></div>
    </div>
    <div class="span3">
        <label for="StartDate">End Date:</label>
        <div class="input-append"><input class="input-medium" type="text" data-type="date" name="EndDate" value="@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MM/dd/yyyy") : "")" /><span class="add-on"><i class="icon-remove" data-name="EndDate"></i></span></div>
    </div>
    <div class="span2"><br /><input class="btn btn-primary" type="submit" value="Refresh" /></div>
</div>

@if (Model.Message != null || Model.Message == "")
{   <div class="alert">@Model.Message</div>   }

</form>
    @if (Model.Data != null && Model.Data.Count > 0)
    {
        string oldGroupName = string.Empty;
        string currentGroupName = oldGroupName;
        int count = 0;
        decimal? total = 0;

        int countrejected = 0;
        decimal? totalrejected = 0;
        int countapproved = 0;
        decimal? totalapproved = 0;

        foreach (asi.asicentral.web.model.store.order.GroupedData data in Model.Data)
        {
            currentGroupName = string.IsNullOrEmpty(data.Campaign) ? "(Unknown)" : data.Campaign;
            if (currentGroupName.ToLower() != oldGroupName.ToLower() && oldGroupName != string.Empty)
            {
                //new group, not the first one
                <div class="row-fluid">
                    <div class="span1">&nbsp;</div>
                    <div class="span4"><strong>Total through Store</strong></div>
                    <div class="span1"><strong>@count</strong></div>
                    <div class="span1"><strong>@total.Value.ToString("C")</strong></div>
                    <div class="span5">&nbsp;</div>
                </div>
                if(countrejected > 0) {
                <div class="row-fluid">
                    <div class="span1">&nbsp;</div>
                    <div class="span4">Total Rejected</div>
                    <div class="span1">@countrejected</div>
                    <div class="span1">@totalrejected.Value.ToString("C")</div>
                    <div class="span5">&nbsp;</div>
                </div>
                }
                if ((count - countrejected - countapproved) > 0) {
                <div class="row-fluid">
                    <div class="span1">&nbsp;</div>
                    <div class="span4">Total Pending</div>
                    <div class="span1">@(count - countrejected - countapproved)</div>
                    <div class="span1">@((total - totalrejected - totalapproved).Value.ToString("C"))</div>
                    <div class="span5">&nbsp;</div>
                </div>
                }
                <div class="row-fluid">
                    <div class="span1">&nbsp;</div>
                    <div class="span4"><h3>Total</h3></div>
                    <div class="span1"><h3>@countapproved</h3></div>
                    <div class="span1"><h3>@totalapproved.Value.ToString("C")</h3></div>
                    <div class="span1">&nbsp;</div>
                    <div class="span4"><h3>@((totalapproved.Value * 12).ToString("C"))<span class="helper-text"> Annualized amount</span></h3></div>
                </div>      
                <div class="row-fluid">
                    <div class="span12">&nbsp;</div>
                </div>
                count = 0;
                total = 0;
                countrejected = 0;
                totalrejected = 0;
                countapproved = 0;
                totalapproved = 0;
            }
            if (currentGroupName != oldGroupName)
            {
                <div class="row-fluid">
                    <div class="span3"><h2>@currentGroupName</h2></div>
                    <div class="span4"><a rel="download" data-campaign="@data.Campaign" href="#">Download data</a></div>
                    <div class="span5">&nbsp;</div>
                </div>
                oldGroupName = currentGroupName;
            }
            count += data.Count;
            countrejected += data.CountRejected;
            countapproved += data.CountApproved;

            if (data.CompletedStep > 3 && data.Amount.HasValue)
            {
                total += data.Amount;
            }

            if (data.CompletedStep > 3 && data.AmountRejected.HasValue)
            {
                totalrejected += data.AmountRejected;
            }

            if (data.CompletedStep > 3 && data.AmountApproved.HasValue)
            {
                totalapproved += data.AmountApproved;
            }
            
            <div class="row-fluid">
                <div class="span1">&nbsp;</div>
                <div class="span4">@data.StepLabel</div>
                <div class="span1">@data.Count</div>
                <div class="span1">@(data.CompletedStep > 3 ? data.Amount.Value.ToString("C") : "")</div>
                <div class="span5">&nbsp;</div>
            </div>
        }
        <div class="row-fluid">
            <div class="span1">&nbsp;</div>
            <div class="span4"><strong>Total through Store</strong></div>
            <div class="span1"><strong>@count</strong></div>
            <div class="span1"><strong>@total.Value.ToString("C")</strong></div>
            <div class="span5">&nbsp;</div>
        </div>
        if(countrejected > 0) {
        <div class="row-fluid">
            <div class="span1">&nbsp;</div>
            <div class="span4">Total Rejected</div>
            <div class="span1">@countrejected</div>
            <div class="span1">@totalrejected.Value.ToString("C")</div>
            <div class="span5">&nbsp;</div>
        </div>
        }
        if ((count - countrejected - countapproved) > 0) {
        <div class="row-fluid">
            <div class="span1">&nbsp;</div>
            <div class="span4">Total Pending</div>
            <div class="span1">@(count - countrejected - countapproved)</div>
            <div class="span1">@((total - totalrejected - totalapproved).Value.ToString("C"))</div>
            <div class="span5">&nbsp;</div>
        </div>
        }
        <div class="row-fluid">
            <div class="span1">&nbsp;</div>
            <div class="span4"><h3>Total</h3></div>
            <div class="span1"><h3>@countapproved</h3></div>
            <div class="span1"><h3>@totalapproved.Value.ToString("C")</h3></div>
            <div class="span1">&nbsp;</div>
            <div class="span4"><h3>@((totalapproved.Value * 12).ToString("C"))<span class="helper-text"> Annualized amount</span></h3></div>
        </div>      
   }
@section scripts {
    @Scripts.Render("~/bundles/form")
    <script>
        $('input[data-type*="date"]').datepicker();
        $('.icon-remove').click(function (e) {
            $('input[name="' + $(e.target).data("name") + '"]').val("");
        });
        $('input[name="Campaign"]').change(function (e) {
            if ($(e.target).val()) {
                $('input[name="StartDate"]').val("");
                $('input[name="EndDate"]').val("");
            }
        });

        $('a[rel="download"]').click(function (e) {
            var campaign = $(this).data("campaign");
            var startdate = '@Model.StartDate';
            var enddate = '@Model.EndDate';
            var location = "@Url.Action("DownloadCSV", "Orders", null)/" + "?Campaign=" + campaign + "&StartDate=" + startdate + "&EndDate=" + enddate;
            document.location = location;
        });       
    </script>
}