@model asi.asicentral.web.Models.velocity.ResultantColorMapping
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_CentralApiLayout.cshtml";
}
<h2>Color Map Status</h2>
@if (Model != null)
{
    if (Model.ColorMappings != null && Model.ColorMappings.Any())
    {
        <a class="btn btn-default" href="@Url.Action("Index", "Velocity")">Add Colors</a>
        <table class="table table-bordered table-condensed table-striped">
            <thead></thead>
            <tbody>
                @foreach (asi.asicentral.web.Models.velocity.ColorMapping colorMapping in Model.ColorMappings)
                {
                    <tr>
                        <td style="width: 25%;">@colorMapping.SupplierColor</td>
                        <td style="width: 25%;">@colorMapping.ColorGroup</td>
                        <td style="width: 25%;">@colorMapping.Status</td>
                    </tr>
                 }
            </tbody>
        </table>
    }
    else
    {
        if (!String.IsNullOrWhiteSpace(Model.Status))
        {
            <strong>@Model.Status</strong>
        }
    }
}

else
{
    <strong> No status found.</strong>
}


