@using asi.asicentral.web.Models.sgr
@using asi.asicentral.model.sgr
@using asi.asicentral.web
@model ViewCategory

@{
    Layout = "~/Views/Shared/_SGRLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<div class="form-actions">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(category => category.Id)
    @Html.LabelFor(category => category.Name) @Html.EditorFor(category => category.Name) @Html.ValidationMessageFor(category => category.Name)
    
    <input type="submit" value="Save" class="btn" />
    @Html.ActionLink(Resource.Cancel, "List", "Product", new ViewCompany { Id = Model.CompanyID, CategoryID = Category.CATEGORY_ALL }, null)
}
</div>

@section Scripts {
    <script src="/Scripts/asi.js"></script>
}
