@using asi.asicentral.web;
@using asi.asicentral.model.show
@using asi.asicentral.web.models.show
@using asi.asicentral.Resources
@model CompanyInformation
@{
   
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div id="tabbasic" class="basic-information tab-pane fade in active">
        <fieldset class="company-info-form">
            <legend>Add Employee</legend>
            @Html.HiddenFor(model => model.Id)
           
                <div class="control-group" id="asinumber-product">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                    <div class="controls">@Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</div>
                </div>
            
                <div class="control-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                    <div class="controls">@Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)</div>
                </div>
                 <div class="control-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                    <div class="controls">@Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)</div>
                </div>
        </fieldset>
    </div>
    <footer id="page-completion-navigation">
        <nav>
            <p class="navigate-back"><a href="../ShowCompany/CompanyList">Back to Company list</a></p>
            <p class="next-step-button">
                <input type="submit" class="command btn btn-primary" value="Save" />
                 @Html.ActionLink(asi.asicentral.Resources.Resource.Cancel, "CompanyList")
        </nav>
    </footer>
}
