@using asi.asicentral.interfaces;
@using asi.asicentral.model.show;
@using asi.asicentral.web.models.show;
@model CompanyModel
@{
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}
<h1>List of Companies</h1>
<div class="tabbable tabs-below small">
    <h5>Search by</h5>
    <ul id="formtab" class="nav nav-tabs">
        <li class="@(Model.CompanyTab == CompanyModel.TAB_COMPANYNAME ? "active" : string.Empty)"><a href="#@CompanyModel.TAB_COMPANYNAME">Company</a></li>
        <li class="@(Model.CompanyTab == CompanyModel.TAB_MEMBERTYPE ? "active" : string.Empty)"><a href="#@CompanyModel.TAB_MEMBERTYPE">Type</a></li>
    </ul>
    <div class="tab-content" id="formtab-content">
        <div class="tab-pane @(Model.CompanyTab == CompanyModel.TAB_COMPANYNAME ? "active" : string.Empty)" id="@CompanyModel.TAB_COMPANYNAME">
            <div class="well">
                @using (Html.BeginForm("CompanyList", "../ShowCompany/CompanyList", FormMethod.Get, new { @class = "form-inline", @id = "form-" + @CompanyModel.TAB_COMPANYNAME }))
                {                
                    <div class="formField">
                        <label for="companyName">Company</label>
                        <input name="companyName" type="text" id="companyName" value="@Model.Name" />
                    </div>
                    <div class="formField">
                        <input type="hidden" value="@CompanyModel.TAB_COMPANYNAME" name="companyTab" /><input type="submit" value="Search" class="btn" />
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane @(Model.CompanyTab == CompanyModel.TAB_MEMBERTYPE ? "active" : string.Empty)" id="@CompanyModel.TAB_MEMBERTYPE">
            <div class="well">
                @using (Html.BeginForm("CompanyList", "../ShowCompany/CompanyList", FormMethod.Get, new { @class = "form-inline", @id = "form-" + @CompanyModel.TAB_MEMBERTYPE }))
                {                
                    <div class="formField">
                        <label for="MemberType">Member Type</label>
                        @Html.DropDownListFor(model => model.MemberType, new SelectList(asi.asicentral.web.models.show.CompanyModel.GetMemberTypes(), "Value", "Text"), new { name = "MemberType", value = "@Model.MemberType" })
                    </div>
                    <div class="formField">
                        <input type="hidden" value="@CompanyModel.TAB_MEMBERTYPE" name="companyTab" /><input type="submit" value="Search" class="btn" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <a href="/showCompany/AddCompany" class="btn btn-primary">Add </a>
    <br />
    <br />
     
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>ASI Number</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model.company)
            {
                <tr>
                    <td style="width: 45px"><a class="delete" id="@company.Id" href="/ShowCompany/Delete?id=@company.Id"><i class="icon-trash"></i></a></td>
                    <td style="width: 85px">
                        <a href="@Url.Action("List", "../ShowCompany", new CompanyInformation { Id = company.Id })">@company.Name</a>
                    </td>
                    <td style="width: 85px">@company.ASINumber</td>
                    <td style="width: 85px">@company.MemberType </td>
                    <td style="width: 185px">No of Address :@company.CompanyAddresses.Count() No of Employee :@company.Employees.Count()</td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts {
    <script type="text/javascript">
        $('ul[id*="formtab"] a').click(function (e) {
            e.preventDefault();
            var tabname = e.target.toString();
            tabname = tabname.substr(tabname.indexOf("#") + 1);
            $('input[name*="formtab"]').val(tabname);
            $(this).tab('show');
        });
        $('a.delete').click(function () {
            var confirms = confirm("Are you sure you want to delete the company?");
            if (confirms)
                return true
            else
                return false
        });
    </script>
}
