@using asi.asicentral.interfaces;
@using asi.asicentral.model.show;
@using asi.asicentral.web.models.show;
@model CompanyModel
@{
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}
<h1>List of Companies</h1>
<div class="tabbable tabs-below small">
    <h5>Search by</h5>
    <ul id="formtab" class="nav nav-tabs">
        <li class="@(Model.CompanyTab == CompanyModel.TAB_COMPANYNAME ? "active" : string.Empty)"><a href="#@CompanyModel.TAB_COMPANYNAME">Company</a></li>
    </ul>
    <div class="tab-content" id="formtab-content">
        <div class="tab-pane @(Model.CompanyTab == CompanyModel.TAB_COMPANYNAME ? "active" : string.Empty)" id="@CompanyModel.TAB_COMPANYNAME">
            <div class="well clearfix">
                @using (Html.BeginForm("CompanyList", "../ShowCompany/CompanyList", FormMethod.Get, new { @class = "form-inline clearfix", @id = "form-" + @CompanyModel.TAB_COMPANYNAME }))
                {   
                    <div class=" formField span1 pull-left">
                        <a href="/showCompany/AddCompany" class="btn btn-red">Add </a>
                    </div>
                    <div class="formField span1 pull-right">
                        <input type="hidden" value="@CompanyModel.TAB_COMPANYNAME" name="companyTab"><input type="submit" value="Search" class="btn " />
                    </div> 
                    <div class="formField span3 pull-right">
                        <label for="MemberType">Member Type</label>
                        @Html.DropDownListFor(model => model.MemberType, new SelectList(asi.asicentral.web.models.show.CompanyModel.GetMemberTypes(), "Value", "Text"), new { name = "MemberType", value = "@Model.MemberType" })
                    </div>
                    <div class=" formField span3 pull-right">
                        <label for="companyName">Name</label>
                        <input name="companyName" type="text" id="companyName" value="@Model.Name" />
                    </div>
                    <div class="formField span3 pull-right">
                        <label for="asiNumber">ASI Number</label>
                        <input name="asiNumber" type="text" id="asiNumber" value="@Model.ASINumber" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{ 
    <table id="tblCompany" class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>ASI Number</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model.company)
            {
                <tr>
                    <td><a class="delete" id="@company.Id" href="/ShowCompany/Delete?id=@company.Id"><i class="icon-trash"></i></a></td>
                    <td><a rel="tooltip" data-placement="right" class="icon-pencil" href="/ShowCompany/EditCompany?id=@company.Id"></a>
                    </td>
                    <td>
                        <a class="red" href="@Url.Action("List", "../ShowCompany", new CompanyInformation { Id = company.Id })">@company.Name</a>
                    </td>
                    <td>@company.ASINumber</td>
                    <td>@company.MemberType </td>
                    <td>No of Address :@company.CompanyAddresses.Count() No of Employee :@company.Employees.Count()</td>
                </tr>
               
            }
            @if (Model.TotalRecordCount > 10)
            {
                <tr>
                    <td class="pager" colspan="6">
                        @Html.Partial("../Show/Shared/_Pager", Model)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts {
    <script type="text/javascript">
        $('ul[id*="formtab"] a').click(function (e) {
            e.preventDefault();
            var tabname = e.target.toString();
            tabname = tabname.substr(tabname.indexOf("#") + 1);
            $('input[name*="formtab"]').val(tabname);
            $(this).tab('show');
        });
        $('a.delete').click(function () {
            var confirms = confirm("Are you sure you want to delete the company?");
            if (confirms)
                return true
            else
                return false
        });
    </script>
    <script type="text/javascript">
        $(function () {
            window.location = '#tblCompany';
        });
    </script>
}
