@using asi.asicentral.web;
@using asi.asicentral.model.show
@using asi.asicentral.web.models.show
@using asi.asicentral.Resources
@using asi.asicentral.interfaces
@model CompanyInformation
@{
    
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}
<h3>
    <a class="btn btn-small" href="/ShowCompany/CompanyList">
        <i class="icon-backward"></i>
    </a>
    @Model.Name 
</h3>
<div class="clearfix">
    <div class="well"><a class="btn btn-small" href="/ShowCompany/AddAddress?CompanyID= @Model.Id"><i class="icon-plus"></i>
        Add Address
        </a><table class="table table-bordered table-striped"">
  <thead>
    <tr>
          <th>Edit</th>
        <th>Delete</th>
      <th>Street 1</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var address in @Model.CompanyAddress)
    { <tr>
        <td><a rel="tooltip" data-placement="right" class="icon-pencil" href="/ShowCompany/EditAddress?id=@address.Address.Id&CompanyID=@address.CompanyId"></a></td>
        <td><a rel="tooltip" data-placement="right" class="delete" href="/ShowCompany/DeleteAddress?id=@address.Address.Id&CompanyID=@address.CompanyId"><i class="icon-trash"></i></a></td>
                <td>@address.Address.Street1</td>
                <td>@address.Address.State </td>
                <td>@address.Address.Zip</td>
            </tr>
    
    }
  </tbody>
</table></div>
    <div class="well">
        <a class="btn btn-small" href="/ShowCompany/AddEmployee?CompanyID= @Model.Id"><i class="icon-plus"></i>
        Add Employee
    </a><table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Edit</th>
        <th>Delete</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in @Model.Employee)
    {
            <tr><td><a rel="tooltip" data-placement="right" class="icon-pencil" href="/ShowCompany/EditEmployee?id=@employee.Id"></a></td>
                <td><a data-placement="right" class="delete" id="@employee.Id" href="/ShowCompany/DeleteEmployee?id=@employee.Id"><i class="icon-trash"></i></a></td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName </td>
                <td>@employee.Email</td>
            </tr>
        }
  </tbody>
</table></div>
</div>
@section scripts {
    <script type="text/javascript">
    $('a.delete').click(function () {
            var confirms = confirm("Are you sure you want to delete?");
            if (confirms)
                return true
            else
                return false
    });
        </script>
}