@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

@using  asi.asicentral.util;
@model  asi.asicentral.model.store.CouponModel

<h2>Edit/Add Coupons</h2>

@using (Html.BeginForm("SaveCouponDetails", "Coupon", FormMethod.Post, new {id="couponform" }))
{
    @Html.HiddenFor(model => model.ActionName)
    @Html.AntiForgeryToken()
    
    
    <table class="table table-bordered table-condensed table-striped">

        <tbody>
            <tr>
             
                @Html.HiddenFor(model => model.Id)
                <td>Coupon Code</td>
                <td>@Html.EditorFor(model => model.CouponCode)@Html.ValidationMessageFor(model => model.CouponCode)</td>
            </tr>
            <tr>
                <td>Is Fixed Amount</td>
                <td>@Html.CheckBoxFor(model => model.IsFixedAmount)</td>
            </tr>
            <tr id="DiscountAmount">
                <td>Discounted Amount</td>
                <td>@Html.EditorFor(model => model.DiscountAmount)</td>
            </tr>

            <tr id="DiscountPercentage">
                <td>Discounted Percentage</td>
                <td>@Html.EditorFor(model => model.DiscountPercentage)</td>
            </tr>
             <tr>
                <td>Is Product
                @Html.RadioButtonFor(model => model.IsProduct, true)</td>
                 <td>Is Context
                @Html.RadioButtonFor(model => model.IsProduct, false)</td>
            </tr>
            <tr id="Product">
                <td >
                    Products
                </td>
                <td>
                   @Html.DropDownListFor(model => model.ProductId, Model.Products)
                </td>
            </tr>
            
            <tr id="Context">
                <td>
                    Context
                </td>
                <td>
                   @Html.DropDownListFor(model => model.ContextId, Model.Contexts)
                </td>
            </tr>
            <tr>
                <td>Valid From</td>
                <td>@Html.EditorFor(model => model.ValidFrom, new { @class = "dateField" }) <i class="icon-remove date-clear" id="ValidFrom"></i></td>
            </tr>
            <tr>
                <td>Valid To</td>
                <td>@Html.EditorFor(model => model.ValidUpto, new { @class = "dateField" })  <i class="icon-remove date-clear" id="ValidUpto"></i></td>
            </tr>
            <tr>
                <td>Is Subscription</td>
                <td>@Html.CheckBoxFor(model => model.IsSubscription)</td>
            </tr>
            <tr>
                <td>
                    <span id="span_Error_LogoPath" class="field-validation-error" style="display: none;">This field is required </span>
                </td>
            </tr>

        </tbody>
    </table>
    
    <input type="submit" class="command btn btn-primary" value="Save" />
    <input type="submit" class="command btn btn-primary"  value="Cancel"/> 
}

@section scripts {
    @Scripts.Render("~/bundles/form")
    <script src="/Scripts/asi.js"></script>
    <script>
        $('.dateField').datepicker();
        $('.date-clear').click(function () {
            $("input[name='" + this.id + "']").val('');
        });
        
    </script>
    <script type="text/javascript">
        $(function () {
            $('input.command').click(function (e) {
                $('#ActionName').val(e.target.value)
            });
        });

        function RadioChange() {
            if ($("#IsProduct")[0].checked) {
                $("#Context").hide();
                $("#Product").show();
            }
            else {
                $("#Context").show();
                $("#Product").hide();
            }
        }

        function CheckChange() {
            if ($("#IsFixedAmount")[0].checked) {
                $("#DiscountAmount").show();
                $("#DiscountPercentage").hide();
            }
            else {
                $("#DiscountPercentage").show();
                $("#DiscountAmount").hide();
            }
        }

        function CheckValidation() {
        }

        $(document).ready(function () {
            RadioChange();
            CheckChange();
        });

        $("#IsFixedAmount").change(function () {
            CheckChange();
        });

        $('input[type=radio]').change(function () {
            RadioChange();
        });
    </script>

}