@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

@using asi.asicentral.util;
@using asi.asicentral.model.store;
@using asi.asicentral.services;
@using asi.asicentral.interfaces;
@model  asi.asicentral.model.store.CouponModel

@using (Html.BeginForm("SaveCouponDetails", "Coupon", FormMethod.Post, new { id = "couponform" }))
{
    @Html.HiddenFor(model => model.ActionName)
    @Html.AntiForgeryToken()
   
    <div id="tabbasic" class="basic-information tab-pane fade in active">
        <fieldset class="company-info-form">
            <legend>Edit/Add Coupons</legend>
            <span class="field-validation-error">@Html.ValidationSummary()</span>
            @Html.HiddenFor(model => model.Id)
            <span class="label-row">
                @Html.Label("Coupon Code")
                @Html.EditorFor(model => model.CouponCode)@Html.ValidationMessageFor(model => model.CouponCode)
            </span>
            <span class="label-row">
                @Html.Label("Description")
                @Html.TextAreaFor(model => model.Description) @Html.ValidationMessageFor(model => model.Description)
            </span>
            <span class="label-row" id="trAppFeeDiscount">
                @Html.Label("Application Discount")
                @Html.EditorFor(model => model.AppFeeDiscount)@Html.ValidationMessageFor(model => model.AppFeeDiscount)
            </span>
            <span class="label-row" id="trProductDiscount">
                @Html.Label("Product Discount")
                @Html.EditorFor(model => model.ProductDiscount)@Html.ValidationMessageFor(model => model.ProductDiscount)
            </span>
            <span class="label-row" id="trMonthlyCost">
                @Html.Label("Monthly subscription Cost")
                @Html.EditorFor(model => model.MonthlyCost)@Html.ValidationMessageFor(model => model.MonthlyCost)
            </span>
            <span class="label-row">
                @Html.Label("Valid From")
                @Html.EditorFor(model => model.ValidFrom, new { @class = "dateField" }) <i class="icon-remove date-clear" id="ValidFrom"></i>
                <span id="span_Error_CurrDate" class="field-validation-error" style="display: none;">Valid from date should be greater than current date</span>
            </span>
            <span class="label-row">
                @Html.Label("Valid To")
                @Html.EditorFor(model => model.ValidUpto, new { @class = "dateField" })  <i class="icon-remove date-clear" id="ValidUpto"></i><span id="span_Error_ValidDate" class="field-validation-error" style="display: none;">Valid From date should be less than Valid to date.</span>
            </span>
            <span id="Product" class="label-row">
                @Html.Label("Products")
                @Html.DropDownListFor(model => model.ProductId, Model.Products, "None", new { @class = "span3", id = "Products" })@Html.ValidationMessageFor(model => model.ProductId)
            </span>
            <span id="Context" class="label-row">
                @Html.Label("Context")
                @Html.DropDownListFor(model => model.ContextId, Model.Contexts, "None", new { @class = "span3" })@Html.ValidationMessageFor(model => model.ContextId)
            </span>
        </fieldset>
    </div>
    <footer id="page-completion-navigation">
        <nav>
            <p class="navigate-back"><a href="/store/Coupon/List">Back to Coupon list</a></p>
            <p class="next-step-button">
                <input type="submit" class="command btn btn-primary" value="Save" />
        </nav>
    </footer>
}
@section scripts {
    @Scripts.Render("~/bundles/form")
    <script>
        var date = new Date();
        date.setDate(date.getDate() - 1);

        $("#ValidFrom").datepicker({
            startDate: date
        }).on('changeDate', function (selected) {
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $("#ValidUpto").datepicker('setStartDate', startDate);
        });

        $('.date-clear').click(function () {
            $("input[name='" + this.id + "']").val('');
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $('input.command').click(function (e) {
                if (e.target.value == "Cancel")
                    window.location.href = "/store/Coupon/List";
                $('#ActionName').val(e.target.value);
            });
        });
        $(document).ready(function () {
            startDate = new Date($('#ValidFrom').val());
            startDate.setDate(startDate.getDate(new Date($('#ValidFrom').val())));
            $("#ValidUpto").datepicker('setStartDate', startDate);
            if (($('#MonthlyCost').val() == '0.00' || $('#MonthlyCost').val() == "") && $('#Id').val() == 0) {
                $('#MonthlyCost').prop('disabled', true);
                $('#MonthlyCost').val('0.00');
            }
        });
        $(function () {
            $("#Products").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetProductName", "Coupon")',
                    dataType: 'json',
                    data: '{"id":' + id + '}',
                    type: "POST",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == true) {
                            $('#MonthlyCost').prop('disabled', false);
                        } else {
                            $('#MonthlyCost').prop('disabled', true);
                            $('#MonthlyCost').val('0.00');
                        }
                    }
                });
            });
        });
    </script>

}