@using asi.asicentral.model.show
@model IList<ShowEmployeeAttendee>
@{
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}
<h1>Attendees</h1>
<table id="attendeeList" class="table table-bordered table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Booth Number</th>
            <th>Show Name</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShowEmployeeAttendee empAttendee in Model)
        {
            <tr>
                <td><a href="/ShowCompany/EditEmployee?id=@empAttendee.Employee.Id">@empAttendee.Employee.FirstName @empAttendee.Employee.LastName</a></td>
                <td>@empAttendee.Attendee.BoothNumber</td>
                <td><a href="/ShowCompany/GetCompanyList?showId=@empAttendee.Attendee.Show.Id">@empAttendee.Attendee.Show.Name</a></td>
                <td><a href="/ShowCompany/List/@empAttendee.Attendee.Company.Id">@empAttendee.Attendee.Company.Name</a></td>
                
           </tr>
        }
    </tbody>
</table>


