@using asi.asicentral.web.models.show
@using asi.asicentral.model.show
@model ShowCompaniesModel
@{
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}
<h1>Company Attendee List</h1>
<div>
    @if (Model.Show != null)
    {
        <h2 class="pull-left">@Model.Show.Name (@Model.Show.StartDate.ToString("MMM") @Model.Show.StartDate.Day.ToString() - @Model.Show.EndDate.ToString("MMM") @Model.Show.EndDate.Day.ToString()) </h2>
    }
    <span class="pull-right"><a href="/showCompany/AddCompaniesToShow?showId=@Model.ShowId" class="btn btn-red">Add Attendees </a><a href="/Show/ShowList">Cancel </a></span>
</div>
<br />
<br />

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ASI#</th>
            <th>Company Name</th>
            <th>Member Type</th>
            <th>Is Sponsor</th>
            <th>Exhibit Day</th>
            <th>Presentation</th>
            <th>Round Table</th>
            <th>Is Catalog</th>
            <th>Booth Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShowAttendee showAttendee in Model.ShowAttendees)
        {
            <tr>
                <td><a class="delete" id="@showAttendee.Id" href="/ShowCompany/DeleteAttendeeCompany?id=@showAttendee.Id&showId=@Model.Show.Id"><i class="icon-trash"></i></a></td>
                <td>@showAttendee.Company.ASINumber</td>
                <td><a class="red" href="/ShowCompany/GetCompanyDetailsForShow?companyId=@showAttendee.Company.Id&showId=@(Model.Show != null ? Model.Show.Id : 0)">@showAttendee.Company.Name</a></td>
                <td>@showAttendee.Company.MemberType</td>
                <td>
                    @if (showAttendee.IsSponsor)
                    {
                        <a class=" buttonHolder button tick"></a>
                    }
                    else
                    {  <a class="buttonHolder button cross"></a>
                    }
                </td>
                <td>
                    @if (showAttendee.IsExhibitDay)
                    {
                        <a class=" buttonHolder button tick"></a>
                    }
                    else
                    {
                        <a class="buttonHolder button cross"></a>
                    }
                </td>
                <td>
                    @if (showAttendee.IsPresentation)
                    {
                        <a class=" buttonHolder button tick"></a>
                    }
                    else
                    {
                        <a class="buttonHolder button cross"></a>
                    }
                </td>
                <td>
                    @if (showAttendee.IsRoundTable)
                    {
                        <a class=" buttonHolder button tick"></a>
                    }
                    else
                    {
                        <a class="buttonHolder button cross"></a>
                    }
                </td>
                <td>
                    @if (showAttendee.IsCatalog)
                    {
                        <a class=" buttonHolder button tick"></a>
                    }
                    else
                    {
                        <a class="buttonHolder button cross"></a>
                    }
                </td>
                <td>@showAttendee.BoothNumber</td>
            </tr>
        }
        @if (Model.TotalRecordCount > 20)
        {
            <tr>
                <td class="pager" colspan="10">
                    @Html.Partial("../Show/Shared/_Pager", Model)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $('a.delete').click(function () {
            var confirms = confirm("Are you sure you want to delete the company?");
            if (confirms)
                return true
            else
                return false
        });
    </script>
}
