@using asi.asicentral.model.sgr
@using asi.asicentral.web
@using asi.asicentral.web.Models.sgr
@model ViewProduct

@{
    Layout = "~/Views/Shared/_SGRLayout.cshtml";
}

<h1>@ViewBag.SubTitle</h1>
<div class="form-actions">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(product => product.Id)
    @Html.HiddenFor(product => product.Company.Id)
    
    @Html.LabelFor(product => product.Name) @Html.EditorFor(product => product.Name, new { @class = "input-xxlarge" })  @Html.ValidationMessageFor(product => product.Name)
    @Html.LabelFor(product => product.ModelNumber) @Html.EditorFor(product => product.ModelNumber, new { @class = "input-xxlarge" }) @Html.ValidationMessageFor(product => product.ModelNumber)
    @Html.LabelFor(product => product.Price) @Html.EditorFor(product => product.Price, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.PriceCeiling) @Html.EditorFor(product => product.PriceCeiling, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.MinimumOrderQuantity) @Html.EditorFor(product => product.MinimumOrderQuantity, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.PaymentTerms) @Html.EditorFor(product => product.PaymentTerms, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.KeySpecifications) @Html.EditorFor(product => product.KeySpecifications, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.ImageLarge) @Html.EditorFor(product => product.ImageLarge, new { @class = "input-xxlarge" })
    @Html.LabelFor(product => product.ImageSmall) @Html.EditorFor(product => product.ImageSmall, new { @class = "input-xxlarge" })

    <label>Is Inactive?  @Html.CheckBoxFor(product => product.IsInactive) </label>
    
    <br />
    <input type="submit" value="Save" class="btn" />
    @Html.ActionLink(Resource.Cancel, "List", new ViewCompany { Id = Model.Company.Id, CategoryID = Model.CategoryID })
}

</div>