@using asi.asicentral.web;
@using asi.asicentral.model.sgr
@using asi.asicentral.web.Models.sgr
@model ViewCompany

@{
    Layout = "~/Views/Shared/_SGRLayout.cshtml";
}
    <h3>
        <a class="btn btn-small" href="@Url.Action("List", "Company")">
        <i class="icon-backward"></i>
        </a> 
        @Model.Name
    </h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <a class="btn btn-small" href="@Url.Action("Add", "../sgr/Category", new { CompanyID = Model.Id })">
            <i class="icon-plus"></i>
            @Html.Encode(Resource.AddCategory)
            </a>
            <table class="table table-bordered table-condensed table-striped">
            <tr><th>@Html.Encode(Resource.TitleCategories)</th></tr>
            @foreach (Category category in Model.Categories.OrderBy(c => c.Name))
            {
               <tr>
               <td>   
                   <a rel="tooltip" data-placement="right" title="@Html.Encode(asi.asicentral.web.Resource.EditToolTip)" class="icon-pencil" 
                        href="@Url.Action("Edit", "../sgr/Category", new ViewCategory { Id = category.Id, CompanyID = Model.Id })"></a>
                   <a class="RemoveCategory" rel="tooltip" data-placement="right" title="@Html.Encode(asi.asicentral.web.Resource.DeleteTooltip)" href="#">
                       <i data-id="@category.Id" data-companyid="@Model.Id" class="icon-remove-circle"></i></a>
                   @Html.ActionLink(@category.Name, "List", "Product", new ViewCompany { Id = Model.Id, CategoryID = category.Id }, null)
               </td>
               </tr>
            }
            </table>
        </div>
        <div class="span8">
            <a class="btn btn-small" href="@Url.Action("Add", "../sgr/Product", new { companyId = Model.Id, categoryId = Model.CategoryID })">
            <i class="icon-plus"></i>
            @Html.Encode(Resource.TitleAddProduct)
            </a> 
            <table class="table table-bordered table-condensed table-striped">
                <tr><th>@Html.Encode(Resource.ColumnProductName)</th><th>@Html.Encode(Resource.ColumnSmallImage)</th><th>@Html.Encode(Resource.ColumnLargeImage)</th><th>@Html.Encode(Resource.ColumnIsInactive)</th></tr>
                @foreach (Product product in Model.Products.Where(p => p.Company.Id == Model.Id).OrderBy(p => p.IsInactive == false))
                {
                   <tr>
                       <td>
                           <a class="RemoveProduct" rel="tooltip" data-placement="right" title="@Html.Encode(asi.asicentral.web.Resource.DeleteTooltip)" href="#">
                           <i data-id="@product.Id" data-categoryid="@Model.CategoryID" class="icon-remove-circle"></i></a>                           
                           @Html.ActionLink(@product.Name, "Edit", "Product", new { productId = product.Id, categoryId = Model.CategoryID }, null)
                       </td>
                       <td><img src="@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]/images/sgr/@(product.ImageSmall)" width="50" height="50" /></td>
                       <td><img src="@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]/images/sgr/@(product.ImageLarge)" width="50" height="50"/></td>
                       <td>@product.IsInactive</td>
                   </tr>
                }
            </table>
        </div>
    </div>
</div>

<div>
</div>

@section Scripts {
    <script src="/Scripts/asi.js"></script>
    <script>
    $(".RemoveCategory").click(function (e) {
            asi.modal.confirm("@Html.Encode(asi.asicentral.web.Resource.ConfirmDeleteTitle)", "@Html.Encode(asi.asicentral.web.Resource.ConfirmDeleteMessage)", function (result) {
                if (result) asi.util.submit('@Url.Action("../Category/Delete")', [{ Name: 'id', Value: $(e.target).data("id") }, { Name: 'companyid', Value: $(e.target).data("companyid") }]);
        });
    });

    $(".RemoveProduct").click(function (e) {
        asi.modal.confirm("@Html.Encode(asi.asicentral.web.Resource.ConfirmDeleteTitle)", "@Html.Encode(asi.asicentral.web.Resource.ConfirmDeleteMessage)", function (result) {
            if (result) asi.util.submit('@Url.Action("../Product/Delete")', [{ Name: 'id', Value: $(e.target).data("id") }, { Name: 'categoryid', Value: $(e.target).data("categoryid") }]);
        });
    });
    </script>
}
