@using asi.asicentral.model.sgr
@model Company

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3>
        <a class="btn btn-small" href="@Url.Action("List", "Company")">
        <i class="icon-backward"></i>
        </a> 
        @Model.Name
    </h3>

<div class="container-fluid">

    <div class="row-fluid">

        <div class="span3">
            <a class="btn btn-small" href="@Url.Action("Add", "../sgr/Category", new { id = Model.Id, categoryId = ViewBag.CategoryID })">
            <i class="icon-plus"></i>
            Add Category
            </a>
            <table class="table table-bordered table-condensed table-striped">
            <tr><th>Categories</th></tr>

            @foreach (Category category in Model.Categories.OrderBy(c => c.Name))
            {
               <tr>
                   <td>   
                       <a class="btn btn-small" href="@Url.Action("Edit", "../sgr/Category", new { id = Model.Id, categoryId = category.Id })">
                           <i class="icon-pencil"></i>
                       </a>
                       @Html.ActionLink(@category.Name, "List", "Product", new { categoryId = category.Id }, null)
                   </td>
               </tr>
            }
            </table>
        </div>
        <div class="span8">

            <a class="btn btn-small" href="@Url.Action("Add", "../sgr/Product", new { id = Model.Id, categoryId = ViewBag.CategoryID })">
            <i class="icon-plus"></i>
            Add Product
            </a> 

            <table class="table table-bordered table-condensed table-striped">
                <tr><th>Product Name</th><th>Small Image</th><th>Large Image</th> <th>Is Delete?</th></tr>

                @foreach (Product product in Model.Products.OrderBy(p => p.IsActive == false))
                {
                   <tr>
                       <td>@Html.ActionLink(@product.Name, "Edit", "Product", new { productId = product.Id, categoryId = ViewBag.CategoryID }, null)</td>
                       <td><img src="@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]/images/sgr/@(product.ImageSmall)" width="50" height="50" /></td>
                       <td><img src="@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]/images/sgr/@(product.ImageLarge)" width="50" height="50"/></td>
                       <td>@product.IsActive</td>
                   </tr>
                }

            </table>
        </div>
    </div>
</div>

<div>
</div>