@using asi.asicentral.model.sgr
@model Company

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

    <a class="btn btn-small" href="@Url.Action("List", "Company")">
        <i class="icon-backward"></i>
        Back
    </a>

    <a class="btn btn-small" href="@Url.Action("Edit", "../sgr/Category", new { id = Model.Id })">
        <i class="icon-eye-open"></i>
        Add Category
    </a>

<table class="table table-bordered table-condensed table-striped">
    <tr><th>Categories</th></tr>

    @foreach (Category category in Model.Categories)
    {
       <tr>
           <td>                
               @Html.ActionLink(@category.Name, "ListProduct", new { companyId = Model.Id, categoryId = category.Id })
           </td>
       </tr>
    }

</table>
