@model asi.asicentral.web.model.MediaFolderModel
@{
    ViewBag.Title = "Media Drive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span1"><img src="/images/folder.png" width="32" height="32" alt="folder" /></div> 
    <div class="span3"><h2>@(string.IsNullOrEmpty(Model.Path) ? "/" : Model.Path)</h2></div> <br />
</div>
<div class="row">
       <a href="../Media/Download?file=@(string.IsNullOrEmpty(Model.Path) ? "" : Model.Path)"><img src="/images/download.png" alt="download" /></a>
</div>
<div class="row">
    @using (Html.BeginForm("Upload", "Media", new { uploadPath = (string.IsNullOrEmpty(Model.Path) ? "" : Model.Path) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
         <input class="command btn-primary" type="file" name="files" multiple="multiple" />
         <input class="command btn-primary" type="submit" name="Submit" id="Submit" value="Upload" />
    
    }
</div>

<table class="table table-condensed table-stripped">
    <tr><th>Delete</th><th>Name</th><th>Created</th><th>Modified</th></tr>
    @foreach (asi.asicentral.model.FileModel fileItem in Model.Children)
    {
        <tr>
            @if (@fileItem.RelativePath != "")
            {
                <td><a href="/Media/Delete?file=@fileItem.RelativePath"><img src="/images/delete.jpg" width="20" height="20" class="command btn-primary" alt="delete " /></a></td>    
            }
            else
            {
                <td></td>
            }
            @if (fileItem.Type == asi.asicentral.model.FileModel.FileType.Folder) 
            {        
                <td><img src="/images/folder_small.png" width="20" height="20" alt="folder" /> <a href="/Media/List?path=@fileItem.RelativePath">@fileItem.Name</a></td>
            }
            else 
            {
                <td><a href="/Media/Download?file=@fileItem.RelativePath"><img src="/images/file_small.png" width="20" height="20" alt="file" />@fileItem.Name</a></td>
            }
            <td>@fileItem.Created</td>
            <td>@fileItem.Modified</td>
        </tr>
    }
</table>

