@using asi.asicentral.model.store;
@using asi.asicentral.services;
@using asi.asicentral.interfaces;
@model  IList<CompanyValidation>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Name/Key Word</th>
            <th>CreatedDate</th>
            <th>UpdatedDate</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td><a class="delete" id="validation_delete_@Model[i].Id" href="/Store/CompanyValidations/Delete?Id=@Model[i].Id"><i class="icon-trash"></i></a></td>
                <td><a class="edit" id="validation_edit_@Model[i].Id" data-value="@Model[i].Value" data-id="@Model[i].Id" href="#"><i class="icon-edit"></i></a></td>
                <td>
                    <span>@Model[i].Value</span>
                </td>
                <td>
                    <span>@Model[i].CreateDate.ToLocalTime()</span>
                </td>
                <td>
                    <span>@Model[i].UpdateDate.ToLocalTime()</span>
                </td>
            </tr>
        }
    </tbody>
</table>