@model asi.asicentral.model.store.Context

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>Product Comparison: @Model.Name</h1>
<style>
    dfn { color: blue; }
    tr.offer { background-color : lightsalmon; }
</style>
<table cellpadding="5" cellspacing="5" border="0">
	<tr class="product-title-row">
		<td class="instructions">Choose one of our<br/>	ASI Supplier Membership	Packages:</td>
@foreach (asi.asicentral.model.store.ContextProductSequence productSequence in Model.Products.OrderBy(ctxtProductSeq => ctxtProductSeq.Sequence))
{
    <td><span class="">@Html.Raw(string.IsNullOrEmpty(productSequence.Qualifier) ? "&nbsp;" : productSequence.Qualifier)</span><br />@productSequence.Product.Name<br /><span class="">$@productSequence.Cost</span></td>
}
    </tr>
	<tr class="button-row">
		<td class="description">Member benefits:</td>
@foreach (asi.asicentral.model.store.ContextProductSequence productSequence in Model.Products.OrderBy(ctxtProductSeq => ctxtProductSeq.Sequence))
{
		<td><button type="button" value="select" class="btn btn-primary">select</button></td>
}
	</tr>
@{ int i = 0;}
@foreach (asi.asicentral.model.store.ContextFeature feature in Model.Features.OrderBy(ctxFeat => ctxFeat.Sequence))
{
    i++;
    <tr class="row@(i) @Html.Raw(feature.IsOffer ? "offer" : "")"><td class="description">@Html.Raw(feature.Name)</td>
    @foreach (asi.asicentral.model.store.ContextProductSequence productSequence in Model.Products.OrderBy(ctxtProductSeq => ctxtProductSeq.Sequence))
    {
        string label = feature.GetProductLabel(productSequence.Product);
        if (string.IsNullOrEmpty(label)) { 
        @:<td>&nbsp;</td>
        } else if (label == "True") { 
        @:<td><img src="/images/checkmark.gif" alt="Included in this package"></td>
        } else {
        @:<td>@label</td> 
        }
    }
    </tr>      
    if (feature.ChildFeatures != null && feature.ChildFeatures.Count > 0)
    {
        foreach (asi.asicentral.model.store.ContextFeature subFeature in feature.ChildFeatures.OrderBy(ctxFeat => ctxFeat.Sequence))
        {
            i++;
            <tr class="row@(i)"><td class="description"><ul><li>@subFeature.Name</li></ul></td>
            @foreach (asi.asicentral.model.store.ContextProductSequence productSequence in Model.Products.OrderBy(ctxtProductSeq => ctxtProductSeq.Sequence))
            {
                string label = subFeature.GetProductLabel(productSequence.Product);
                if (string.IsNullOrEmpty(label)) { 
                @:<td>&nbsp;</td>
                } else if (label == "True") { 
                @:<td><img src="/images/checkmark.gif" alt="ASI Number included in this package"></td>
                } else {
                @:<td>@label</td> 
                }
            }        
            </tr>
        }
    }
}
</table>
