<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ASI Central">
    <title>ASI Central Admin tools</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5.js"></script>
    <![endif]-->
</head>
<body class="@(string.IsNullOrEmpty(ViewBag.BodyClass) ? "normal" : ViewBag.BodyClass)">
<!-- BEGIN bootstrap fluid layout body content container -->
<div class="container-fluid">
<!-- BEGIN global site header content -->
<header id="site-header" class="clearfix">
	<a href="/"><img class="float-left" src="/images/asi-logo.gif" alt="Logo of ASI The Advertising Specialty Institute"></a>
	<div id="account-admin">
		<p>You are logged in as @(((System.Security.Principal.WindowsIdentity)System.Web.HttpContext.Current.User.Identity).Name).</p>
        <div class="title">@ViewBag.Title</div>
	</div>
</header><!-- END #site-header -->
@RenderSection("navigation", required: false)

    @RenderBody()

</div><!-- END .container-fluid -->
<!-- BEGIN global site footer -->
<footer>
	<p>© 2013 - ASI Central Admin Application  -  <a href="">Admin FAQ</a>  -  <a href="">Contact ASI Central Administrators</a></p>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
