@using asi.asicentral.web.models.show
@using asi.asicentral.model.show;
@using asi.asicentral.Resources
@model  AddressModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true) 
<div id="tabbasic" class="basic-information tab-pane fade in active"> 
    <fieldset class="company-info-form">
        <legend>Address</legend>
        @Html.HiddenFor(model => model.AdreessId)
        @Html.HiddenFor(model => model.CompanyId)
            <label class="checkbox" for="IsNonUSAddress">@Html.EditorFor(model => model.IsNonUSAddress) @Html.Raw(Resource.IsNonUSAddress)</label>

            <div class="control-group">
                @Html.LabelFor(model => model.Address1, new { @class = "control-label" })
                <div class="controls">@Html.EditorFor(model => model.Address1)<span class="helper-text">(Please no P.O. boxes)</span>@Html.ValidationMessageFor(model => model.Address1)</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Address2, new { @class = "control-label" })
                <div class="controls">@Html.EditorFor(model => model.Address2)<span class="helper-text">(optional)</span> @Html.ValidationMessageFor(model => model.Address2)</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Zip, new { @class = "control-label" })
                <div class="controls">@Html.EditorFor(model => model.Zip) @Html.ValidationMessageFor(model => model.Zip)</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label" })
                <div class="controls">@Html.EditorFor(model => model.City) @Html.ValidationMessageFor(model => model.City)</div>
            </div>
            <div id="state-div" class="control-group @Html.Raw(!Model.IsNonUSAddress ? string.Empty : "hidden")">
                @Html.LabelFor(model => model.State, new { @class = "control-label" })
                <div class="controls">@Html.DropDownListFor(model => model.State, asi.asicentral.util.HtmlHelper.GetStates()) @Html.ValidationMessageFor(model => model.State)</div>
            </div>
            <div id="international-state-div" class="control-group @Html.Raw(!Model.IsNonUSAddress ? "hidden" : string.Empty)">
            @Html.LabelFor(model => model.InternationalState, new { @class = "control-label" })
            <div class="controls">@Html.EditorFor(model => model.InternationalState) @Html.ValidationMessageFor(model => model.InternationalState)</div>
        </div>
            <div id="country-div" class="control-group @Html.Raw(!Model.IsNonUSAddress ? "hidden" : string.Empty)">
                @Html.LabelFor(model => model.Country, new { @class = "control-label" })
                <div class="controls">@Html.DropDownListFor(model => model.Country, asi.asicentral.util.HtmlHelper.GetCountries()) @Html.ValidationMessageFor(model => model.Country)</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.PhoneAreaCode, new { @class = "input-mini" })
                    @Html.TextBoxFor(model => model.Phone, new { @class = "input-mid" })
                </div>

                <div class="col-sm-3 error_message">
                    @Html.ValidationMessageFor(model => model.PhoneAreaCode)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(model => model.FaxAreaCode, new { @class = "form-control input-mini" })
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control input-mid" })
                    <span class="helper-text">(optional)</span>
                </div>

                <div class="col-sm-3 error_message">
                    @Html.ValidationMessageFor(model => model.FaxAreaCode)
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
        </div>
    </fieldset>
</div>

    

@section Scripts {
    
}