@using System.Web.Optimization;
@using asi.asicentral.web.Models;
@{
    ViewBag.Title = "Migrate Companies";

    List<CompanyInfoModel> compnayInformationList = null;
    List<UserInfoModel> userInformationList = null;

    if (Model != null)
    {
        compnayInformationList = (List<CompanyInfoModel>)Model.companyInfoList;
        userInformationList = (List<UserInfoModel>)Model.userInfoList;
    }

    List<CompanyInfoModel> createdCompaniesList = null;
    List<CompanyInfoModel> existsCompaniesList = null;
    List<CompanyInfoModel> failedComapniesList = null;

    List<UserInfoModel> createdUserList = null;
    List<UserInfoModel> existsUserList = null;
    List<UserInfoModel> failedUserList = null;

    if (compnayInformationList != null && compnayInformationList.Count > 0)
    {
        createdCompaniesList = compnayInformationList.Where(m => m.Status == CompanyStatusCode.Created).ToList();
        existsCompaniesList = compnayInformationList.Where(m => m.Status == CompanyStatusCode.Exists).ToList();
        failedComapniesList = compnayInformationList.Where(m => m.Status == CompanyStatusCode.Fail).ToList();
    }
    if (userInformationList != null && userInformationList.Count > 0)
    {
        createdUserList = userInformationList.Where(m => m.status == CompanyStatusCode.Created).ToList();
        existsUserList = userInformationList.Where(m => m.status == CompanyStatusCode.Exists).ToList();
        failedUserList = userInformationList.Where(m => m.status == CompanyStatusCode.Fail).ToList();
    }

}
<h2>Company Details</h2>
@if (createdCompaniesList != null && createdCompaniesList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Status</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" style="color: green">Created</td>
            </tr>
            @foreach (var company in createdCompaniesList)
            {
                <tr>
                    <td>@company.CompanyInfo.ASINumber</td>
                    <td>@company.CompanyInfo.Name</td>
                    <td>@company.CompanyInfo.Phone</td>
                    <td>@company.Status</td>
                    <td>@company.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (existsCompaniesList != null && existsCompaniesList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Status</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" style="color: blue">Already Exists</td>
            </tr>
            @foreach (var company in existsCompaniesList)
            {
                <tr>
                    <td>@company.CompanyInfo.ASINumber</td>
                    <td>@company.CompanyInfo.Name</td>
                    <td>@company.CompanyInfo.Phone</td>
                    <td>@company.Status</td>
                    <td>@company.Message</td>
                </tr>
            }

        </tbody>
    </table>
}
@if (failedComapniesList != null && failedComapniesList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Status</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" style="color: red">Failed</td>
            </tr>
            @foreach (var company in failedComapniesList)
            {
                <tr>
                    <td>@company.CompanyInfo.ASINumber</td>
                    <td>@company.CompanyInfo.Name</td>
                    <td>@company.CompanyInfo.Phone</td>
                    <td>@company.Status</td>
                    <td>@company.Message</td>
                </tr>
            }

        </tbody>
    </table>
}
<hr />

<h2>User Details</h2>
@if (createdUserList != null && createdUserList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Email</td>
                <td>Status</td>
                <td>Old Password</td>
                <td>New Password</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" style="color: green">Created</td>
            </tr>
            @foreach (var user in createdUserList)
            {
                var oldPassword = string.Empty;
                var newPassword = string.Empty;
                if (user.user.PasswordResetRequired == true)
                {
                    oldPassword = user.user.Password.Remove(@user.user.Password.Length - 3);
                    newPassword = user.user.Password;
                }
                else
                {
                    oldPassword = user.user.Password;
                    newPassword = string.Empty;
                }
                <tr>
                    <td>@user.user.AsiNumber</td>
                    <td>@user.user.FirstName @user.user.LastName</td>
                    <td>@user.user.Email</td>
                    <td>@user.status</td>
                    <td>@oldPassword</td>
                    <td>@newPassword</td>
                    <td>@user.message</td>
                </tr>
            }

        </tbody>
    </table>
}

@if (existsUserList != null && existsUserList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Email</td>
                <td>Status</td>
                <td>Old Password</td>
                <td>New Password</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" style="color: blue">Already Exists</td>
            </tr>
            @foreach (var user in existsUserList)
            {
                var oldPassword = string.Empty;
                var newPassword = string.Empty;
                if (user.user.PasswordResetRequired == true)
                {
                    oldPassword = user.user.Password.Remove(@user.user.Password.Length - 3);
                    newPassword = user.user.Password;
                }
                else
                {
                    oldPassword = user.user.Password;
                    newPassword = string.Empty;
                }
                <tr>
                    <td>@user.user.AsiNumber</td>
                    <td>@user.user.FirstName @user.user.LastName</td>
                    <td>@user.user.Email</td>
                    <td>@user.status</td>
                    <td>@oldPassword</td>
                    <td>@newPassword</td>
                    <td>@user.message</td>
                </tr>
            }

        </tbody>
    </table>
}

@if (failedUserList != null && failedUserList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>Asi No.</td>
                <td>Name</td>
                <td>Email</td>
                <td>Status</td>
                <td>Old Password</td>
                <td>New Password</td>
                <td>Message</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" style="color: red">Failed</td>
            </tr>
            @foreach (var user in failedUserList)
            {
                var oldPassword = string.Empty;
                var newPassword = string.Empty;
                if (user.user.PasswordResetRequired == true)
                {
                    oldPassword = user.user.Password.Remove(@user.user.Password.Length - 3);
                    newPassword = user.user.Password;
                }
                else
                {
                    oldPassword = user.user.Password;
                    newPassword = string.Empty;
                }
                <tr>
                    <td>@user.user.AsiNumber</td>
                    <td>@user.user.FirstName @user.user.LastName</td>
                    <td>@user.user.Email</td>
                    <td>@user.status</td>
                    <td>@oldPassword</td>
                    <td>@newPassword</td>
                    <td>@user.message</td>
                </tr>
            }

        </tbody>
    </table>
}
