@using asi.asicentral.web.Controllers.Store
@using asi.asicentral.model.store;
@using asi.asicentral.interfaces;
@using asi.asicentral.oauth
@using asi.asicentral.util
@model asi.asicentral.web.store.interfaces.IMembershipModel
<div>
    @{
        var errMsg = string.Empty;
        var isBackEnd = IsBackEnd(ref errMsg);
        var orderStatus = string.IsNullOrEmpty(errMsg) ? Model.OrderStatus : OrderStatus.PersonifyError;
        var hasPendingTerms = HasPendingTerms();
    }

    @if (!string.IsNullOrEmpty(Model.ASINumber))
    {
        <h3>ASI #: @Model.ASINumber</h3>
    }
    @if (!string.IsNullOrEmpty(Model.CompanyStatus))
    {
        <h3>Status: @Model.CompanyStatus</h3>
    }
	@if (Model.OrderStatus == OrderStatus.Approved && !string.IsNullOrEmpty(Model.BackendReference))
	{
		<h3>Personify Order#: @Model.BackendReference</h3>
	}
    @if (Model.TotalCost >= 0.0m)
    {
	    <div><h3 class="order-status-header3">Order Status:</h3><div class="order-status">@orderStatus</div></div>
        if (isBackEnd && Model.OrderStatus == OrderStatus.PersonifyError)
        {
        <div class="order-status">
            <input class="command btn-primary" type="submit" value="@ApplicationController.COMMAND_RESUBMIT" /></div>
        }
        
        if (!string.IsNullOrEmpty(errMsg) )
        {
            <div class="span10">
                <p>(@errMsg)</p>
            </div>                
        }

        <div class="timms-info">
            <div class="span4">
                @if (!isBackEnd)
                {
                    <label class="order-status-label" for="Timms_ID">Constituent ID:</label>
                    <div class="order-status-input">
                        @Html.EditorFor(m => m.ExternalReference, new { @class = "span2" })
                        <span id="timmsErrorMessage" data-type="errormessage" class="field-validation-error"></span>
                    </div>
                }
                else
                {
                    <label class="order-status-label" for="Timms_ID">Constituent ID: @Model.ExternalReference</label>
                }
            </div>
            @if (hasPendingTerms)
            {
                <input data-type="boolean" id="hasPendingTerms" type="hidden" value="true" />
            }
            <div class="status-btns">
                @if (!isBackEnd)
                {
                    if (Model.IsCompleted && Model.OrderStatus != OrderStatus.Approved && string.IsNullOrEmpty(errMsg))
                    {
                    <input class="command btn-primary" type="submit" id="btnAcceptOrder" value="@ApplicationController.COMMAND_ACCEPT" />
                    }
                    if (Model.IsCompleted && (Model.OrderStatus == OrderStatus.Pending || Model.OrderStatus == OrderStatus.Approved) )
                    { 
                    <input class="command btn-primary" type="submit" value="@ApplicationController.COMMAND_REJECT" />
                    }
                    <input class="command btn-primary save" type="submit" value="@ApplicationController.COMMAND_SAVE" />

                    if (Model.OrderStatus == OrderStatus.Approved)
                    { @Html.ActionLink("Close", "../Orders") }
                    else
                    { @Html.ActionLink("Cancel", "../Orders") }
                }

            </div>
            <div id="termsWarningMessage" data-type="errormessage" class="field-validation-error span10"></div>
            @if (!isBackEnd && !string.IsNullOrEmpty(Model.ExternalReference))
            {
                <div class="span10">
                <p>(Please contact ASICentral team if this is not the Constituent ID expected.)</p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.ExternalReference))
            {
                var matchingIds = GetMatchingCompanyIds();
                if( !string.IsNullOrEmpty(matchingIds))
                {
                    <div style="display: none">
                        Potential Matching Companys' Constituent IDs: @matchingIds
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="timms-info span3 status-btns">
            <input class="command btn-primary save" type="submit" value="@ApplicationController.COMMAND_SAVE" />
            @if (Model.OrderStatus == OrderStatus.Approved)
            { @Html.ActionLink("Close", "../Orders") }
            else
            { @Html.ActionLink("Cancel", "../Orders") }

        </div>
    }
    @functions{
        public IStoreService StoreService { get; set; }
        public IBackendService BackendService { get; set; }
        public bool IsBackEnd(ref string errMsg)
        {
            bool useBackEndService = false;
            var orderDetail = StoreService.GetAll<StoreOrderDetail>(true).FirstOrDefault(detail => detail.Order.Id == Model.OrderId);
            var order = StoreService.GetAll<StoreOrder>(true).FirstOrDefault(o => o.Id == Model.OrderId);
            if( order != null && orderDetail != null)
            {
                var product = orderDetail.Product;
                if( product.IsMembership() && Model.OrderStatus == OrderStatus.Pending)
                {
                    List<string> matchList = null;
                    var companyInfo = BackendService.FindCompanyInfo(order.Company, ref matchList);
                    if (companyInfo != null)
                    {
                        order.Company.MemberStatus = companyInfo.MemberStatus;
                        Model.CompanyStatus = companyInfo.MemberStatus;

                        if (ASIOAuthClient.IsActiveUser(order.Company.MemberStatus))
                        {
                            if( companyInfo.MemberType.ToUpper() != "SUPPLIER" || !string.IsNullOrEmpty(companyInfo.SubClassCode) || product.Id != 69 )
                                
                            {
                                var activeMembership = string.IsNullOrEmpty(companyInfo.SubClassCode) ? companyInfo.MemberType
                                    : string.Format("{0} {1}", companyInfo.MemberType, companyInfo.SubClassCode);
                                errMsg = string.Format("This company already has an active \'{0}\' membership", activeMembership);
                            }                                
                        }
                    }
                }
                else
                {
                    useBackEndService = BackendService.IsProcessUsingBackend(orderDetail) && !product.IsMembership();
                }
            }
            return useBackEndService;
        }
        
        public string GetMatchingCompanyIds()
        {
            var ids = string.Empty;
            var order = StoreService.GetAll<StoreOrder>(true).FirstOrDefault(o => o.Id == Model.OrderId);
            if (order != null && order.Company != null && order.Company.MatchingCompanyIds != null)
                ids = order.Company.MatchingCompanyIds.Replace("|", " ");

            return ids;            
        }
        
        public bool HasPendingTerms()
        {
            var pendingTerms = StoreService.GetAll<TermsConditionsInstance>()
                                            .Where(t => t.OrderId.Value == Model.OrderId && t.DateAgreedOn == null && string.IsNullOrEmpty(t.AcceptedBy))
                                            .ToList();

            return pendingTerms != null && pendingTerms.Count() > 0;
        }
  }
</div>

