@using System.Web.Mvc.Html
@using asi.asicentral.model.store;
@inherits System.Web.Mvc.WebViewPage<FormInstance>
@{
    var count = 0;
	if (Model.Values == null || Model.Values.Count == 0)
	{
		for (int i = 0; i < 36; i++)
		{
			Model.Values.Add(new FormValue());
		}
	}
}
<div class="container-fluid-store">
	<header>
		<img src="https://store.asicentral.com/media/Forms/booth-selection-header.jpg" alt="ASI 2016 Form">
	</header>
    <div class="form-inline">
	<table id="booth-selection-form">
		<thead>
			<tr>
				<td>
					<h1>Orlando</h1>
					<h2>January 4-6</h2>
					<p>(Monday-Wednesday)</p>
				</td>
				<td>
					<h1>Dallas</h1>
					<h2>February 9-11</h2>
					<p>(Tuesday-Thursday)</p>
				</td>
				<td>
					<h1>Chicago</h1>
					<h2>July 12-14</h2>
					<p>(Tuesday-Thursday)</p>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="3">1. Company Information <span class="pull-right"><small>Thank you for reserving exhibit space at The ASI Shows in 2015.</small></span></th>
			</tr>
			<tr>
				<td colspan="3">
					<fieldset>
						<label>Show Contact:
                            <input type="hidden" name="Form.Values[@count].Name" value="ShowContact" />
							<input type="text" class="input-md" name="Form.Values[@count].Value" value="@Model.Values[count].Value" />
						</label>
                        @{count++;}
						<label>Title:
                            <input type="hidden" name="Form.Values[@count].Name" value="Title" />
							<input type="text" class="input-md" name="Form.Values[@count].Value" value="@Model.Values[count].Value" />
						</label>
					</fieldset>
				</td>
			</tr>
			<tr>
				<th colspan="3">2. Booth Information</th>
			</tr>
				<tr>
					<td colspan="3">
						<div class="booth-show-section">
                            <div>
								<label class="checkbox inline">
									<h2>Orlando - $2,279</h2>
								</label>
                                @{count++;}
								<label>
									<div>
										Booth number: 
                                        <input type="hidden" name="Form.Values[@count].Name" value="BNOrlando" />
                                        <input type="text" class="input-medium" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> 
									</div>
								</label>
                                @{count++;}
								<label>
									<div>
                                        <input type="hidden" name="Form.Values[@count].Name" value="NBOrlando" />
										<input type="text" class="input-small" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> Number of booths
									</div>
								</label>
                            </div>
                            <div>
								<label class="checkbox inline">
									<h2>Dallas - $2,279</h2>
								</label>
                                @{count++;}
								<label>
									<div>
										Booth number: 
                                        <input type="hidden" name="Form.Values[@count].Name" value="BNDallas" />
                                        <input type="text" class="input-medium" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> 
									</div>
								</label>
                                @{count++;}
								<label>
									<div>
                                        <input type="hidden" name="Form.Values[@count].Name" value="NBDallas" />
										<input type="text" class="input-small" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> Number of booths
									</div>
								</label>
                            </div>
                            <div>
								<label class="checkbox inline">
									<h2>Chicago - $2,279</h2>
								</label>
                                @{count++;}
								<label>
									<div>
										Booth number: 
                                        <input type="hidden" name="Form.Values[@count].Name" value="BNChicago" />
                                        <input type="text" class="input-medium" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> 
									</div>
								</label>
                                @{count++;}
								<label>
									<div>
                                        <input type="hidden" name="Form.Values[@count].Name" value="NBChicago" />
										<input type="text" class="input-small" name="Form.Values[@count].Value" value="@Model.Values[count].Value" /> Number of booths
									</div>
								</label>
                            </div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3" >
						<h3>Place me in the:</h3>
						<div><strong>
							Incentive Pavilion (
                            @{count++;}
							<label class="checkbox">
                                <input type="hidden" name="Form.Values[@count].Name" value="IPOR" />
								<input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
								<strong>OR</strong>
							</label>
                            @{count++;}
							<label class="checkbox">
                                <input type="hidden" name="Form.Values[@count].Name" value="IPCH" />
								<input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
								<strong>CH</strong>
							</label>).............	  
								ASI Decoration Pavilion
                            @{count++;}
							<label class="checkbox">
                                <input type="hidden" name="Form.Values[@count].Name" value="DPOR" />
								<input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
								<strong>OR</strong>
							</label>.............	  
								Graphics Central
                            @{count++;}
							<label class="checkbox">
                                <input type="hidden" name="Form.Values[@count].Name" value="DPCH" />
								<input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
								<strong>CH</strong>
							</label>
						</strong></div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p>In order to exhibit at the ASI Supplier Member rate, you must be an ASI Supplier Member at the time of exhibit application as well as at the time the <em>Show</em> is held.</p>
						<p><strong>Member:</strong> You may be billed for upcharges after booth assignment due to premium locations @@ $199 each; corners and islands @@ $399 per corner; aisle carpet, aisle span and hanging signs @@ $199 per 10x10 booth in advance, $300 on site. You can request these special configurations during your booth selection; however, these charges may become automatic based on availability at time of reservation.</p>
						<p>You are responsible for ensuring that the fees and any calculations are consistent with your selection. If you make an error, you agree that we can correct the error and charge you accordingly.</p>
					</td>
				</tr>
				<tr>
					<th colspan="3">3. Booth Selection</th>
				</tr>
				<tr>
					<td colspan="3" class="no-padding">
						<table id="booth-selection">
							<tr class="gray-header">
								<td>
									<small>*All pricing is per a 10x10 booth. Explanation of Special Exhibit Options are available in the Exhibitor Manual <a href="http://www.asishow.com/rules-and-regulations/" target="_blank">online</a> under the Booth Standards section.</small>
								</td>
								<td>
									<h2>Orlando</h2>
									<h3>January 4-6</h3>
								</td>
								<td>
									<h2>Dallas</h2>
									<h3>February 9-11</h3>
								</td>
								<td>
									<h2>Chicago</h2>
									<h3>July 14-16</h3>
								</td>
							</tr>
							<tr>
								<td>Premium locations: $199 per booth</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS01" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS02" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS03" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td>Corner(s): $399 per corner</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS04" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS05" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS06" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td>Hanging sign*: $199 per booth in advance / $300 on site</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS07" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS08" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS09" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td>Aisle span*: $199 per booth in advance / $300 on site</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS10" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS11" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS12" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td>Aisle carpet*: $199 per booth in advance / $300 on site</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS13" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS14" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS15" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td>Extended height*: $199 per booth in advance / $300 on site</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS16" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS17" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
								<td>
                                    @{count++;}
									<label class="checkbox">
										<input type="hidden" name="Form.Values[@count].Name" value="BS18" />
									    <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
									</label>
								</td>
							</tr>
							<tr>
								<td colspan="6">
									<p>Please do not position my booth near the following companies: (List every competitor or company – do not list product lines – that you do not wish to appear next to or close to. You may be assigned next to or close to companies you do not list on this form.)</p>
                                    @{count++;}
                                    <input type="hidden" name="Form.Values[@count].Name" value="Companies" />
									<textarea rows="4" cols="50" name="Form.Values[@count].Value">@Model.Values[count].Value</textarea>
                                    @{count++;}
									<label>Products to be exhibited (to be used when assigning booths)                             
                                        <input type="hidden" name="Form.Values[@count].Name" value="ExhibitedProducts" />
										<input type="text" class="input-large" name="Form.Values[@count].Value" value="@Model.Values[count].Value" />
									</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<th colspan="5">4. SPECIAL SAVINGS!</th>
				</tr>
				<tr class="yellow-bg">
					<td colspan="3">
						<h1>Launch Package 1</h1>
						<h2>Add on a Launch Package for an additional $499/per show</h2>
						<p><strong>The Launch Package includes a pre-show email to all pre-registered attendees, a product in the
						renowned Product Showcase in a highly visible area and a Post-show email to all attendees.</strong></p>
					</td>
				</tr>
				<tr class="yellow-bg">
					<td colspan="3" class="no-padding">
						<table class="special-savings">
							<tr class="yellow-bg">
								<td>	
									@{count++;}
							        <label class="checkbox">
								        <input type="hidden" name="Form.Values[@count].Name" value="LaunchPackage1" />
								        <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
										<h1>Launch Package 1: $499</h1>
									</label>
									<p><strong>Package value: $996</strong></p>
									<ul>
										<li>Pre-show Traffic Builder email blast</li>
										<li>Product in Showcase</li>
										<li>Photo of item in mobile app</li>
										<li>Post-show email blast</li>
									</ul>
									<br/>
									@{count++;}
							        <label class="checkbox">
								        <input type="hidden" name="Form.Values[@count].Name" value="LaunchPackage2" />
								        <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
										<h1>Launch Package 2: $995</h1>
									</label>
									<p><strong>Package value: $1,995</strong></p>
									<ul>
										<li>Half page ad in the show directory</li>
										<li>Showmercial video ad</li>
										<li>Pre-show email blast</li>
										<li>Product in Showcase</li>
										<li>Post-show email blast</li>
									</ul>
								</td>
								<td>
									@{count++;}
							        <label class="checkbox">
								        <input type="hidden" name="Form.Values[@count].Name" value="LeadGeneration" />
								        <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
										<h1>Lead Generation: $1,999</h1>
									</label>
									<p><strong>Package value: $2,847</strong></p>
									<ul>
										<li>Tradeshow optimization in ESP</li>
										<li>Pre-show Traffic Builder email blast</li>
										<li>1 Show-site mobile app alert</li>
										<li>Post-show email blast</li>
										<li>2 Products in the Spotlight series vertical market emails</li>
									</ul>
									<br/>
									@{count++;}
							        <label class="checkbox">
								        <input type="hidden" name="Form.Values[@count].Name" value="BrandBuilding" />
								        <input type="checkbox" name="Form.Values[@count].Value" @(Model.Values[count].Value != null && Model.Values[count].Value == "on" ? "checked" : "")>
										<h1>Brand Building: $1,999</h1>
									</label>
									<p><strong>Package value: $3,098</strong></p>
									<ul>
										<li>Show floor decal</li>
										<li>Your choice: Full-page ad in event brochure (pre-show) OR full-page ad in Directory (at show)</li>
										<li>Showmercial video ad</li>
									</ul>
								</td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<th colspan="5">5. Payment Schedule</th>
				</tr>
				<tr>
					<td colspan="3">
						<h2 class="red-text">A $500 deposit per booth, per Show, must accompany this application.<br/>
						NOTE: Balances are due using the following schedule for the 2016 Shows:</h2>
					</td>
				</tr>
				<tr>
					<td>
						<h2><em>ASI Show</em> Orlando</h2>
						<p>Second Payment Due........7/8/15 (180 days)<br/>
						Final Payment Due.............9/7/15 (120 days)</p>
					</td>
					<td>
						<h2><em>ASI Show</em> Dallas</h2>
						<p>Second Payment Due........8/7/15 (180 days)<br/>
						Final Payment Due...........10/6/15 (120 days)</p>
					</td>
					<td>
						<h2><em>ASI Show</em> Chicago</h2>
						<p>Second Payment Due......1/14/16 (180 days)<br/>
						Final Payment Due...........3/14/16 (120 days)</p>
					</td>
				</tr>
                <tr>
					<td colspan="3">
						<p>Second payment includes 50% of total balance, plus any upcharge fees. Final payment is the remainder of your balance due (100%). Full payments are due 120 days prior to the <em>Show</em>.</p>
						<p>Note: Any booth upcharges will be charged with first balance due.</p>
					</td>
				</tr>
		</tbody>
	</table>
    </div>
</div><!--End Container-->
       