@model IList<asi.asicentral.model.store.ContextProduct>

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>Product List</h1>
<p>Used to show the list of available products for the user to choose from</p>
@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
<input type="submit" class="btn btn-primary" value="Save"/><br /><br />
    
<table class="table table-bordered table-condensed">
    <thead><tr><th>Name</th><th>Is Available</th><th>Next Available Date</th></tr></thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.HiddenFor(m => Model[i].Id) @Html.TextBoxFor(m => Model[i].Name, new { @readonly = "readonly" })</td>
                <td>@Html.CheckBoxFor(model => Model[i].IsAvailable)</td>
                <td> 
                        @Html.EditorFor(model => model[i].NextAvailableDate, new { @class = "dateField" }) @Html.ValidationMessageFor(model => model[i].NextAvailableDate) <i class="icon-remove date-clear" id="[@i].NextAvailableDate"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="submit" class="btn btn-primary" value="Save"/>
}
<div style="padding-bottom:20px" />

@section scripts { 
     @Scripts.Render("~/bundles/form")
    <script>
        $('.dateField').datepicker();
        $('.date-clear').click(function () {
            $("input[name='" + this.id + "']").val('');
        });
    </script>
}